@import '../../variables';

#export-report-excel-container{
    margin: 0;
    padding: 0;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #10BE16;
    border-radius: 50px;
    color: #fff;
    gap: 5px;
    cursor: pointer;
    transition: .3s;
    #export-report-excel-icon{ font-size: 17px; &:hover{ color: #fff !important; } }
    #export-report-excel-text{ display: none; transition: .3s; }
    &:hover{ padding: 5px 20px; width: fit-content; #export-report-excel-text{ display: block; } }
}