.text-white {
  color: #ffffff;
}

.bg-success {
  background-color: #1bcc5a;
}

.bg-secondary {
  background-color: #0153FF;
}

.bg-primary {
  background-color: #00057B;
}

.text-gray-primary {
  color: #FFFFFF;
}

.text-success {
  color: #1bcc5a;
}

.text-gray-secondary {
  color: #F2F2F2;
}

#client-app-content {
  max-height: 100%;
}

@media screen and (min-width: 768px) {
  #client-app-container #client-app-sidebar {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    padding: 3vh 0;
  }
  #client-app-container #client-app-sidebar #sidebar-client-logo {
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 10vw;
    height: 10vw;
    max-width: 140px;
    max-height: 140px;
    /*adjust the image to the size of the container*/
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  }
  #client-app-container #client-app-sidebar #company-container {
    margin: 2vh 0 0 0;
    padding: 0 5%;
    display: block;
    width: 100%;
  }
  #client-app-container #client-app-sidebar #company-container #company-name-container {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  #client-app-container #client-app-sidebar #company-container #company-name-container #company-name {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    color: #00057B;
    font-weight: bold;
    font-size: 1.2em;
  }
  #client-app-container #client-app-sidebar #company-container #company-name-container #company-identification {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    color: #707070;
    font-weight: 600;
  }
  #client-app-container #client-app-sidebar #company-container #company-name-container #company-role {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    color: #272727;
    font-weight: 400;
  }
  #client-app-container #client-app-sidebar #company-container #company-name-container #company-link {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    color: #0153FF;
    font-weight: 500;
  }
  #client-app-container #client-app-sidebar #sidebar-menu {
    margin: 4vh 0 2vh 0;
    padding: 0;
    display: block;
    width: 100%;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item {
    margin: 0;
    padding: 1.5vh 0;
    display: block;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item .sidebar-menu-item-link {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    text-decoration: none;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item .sidebar-menu-item-link .sidebar-menu-item-img {
    margin: 0;
    padding: 0;
    display: block;
    width: 27px;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item .sidebar-menu-item-link .sidebar-menu-item-img path {
    color: #454545;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item .sidebar-menu-item-link i {
    font-size: 22px;
    color: #999;
    transition: 0.3s;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item .sidebar-menu-item-link .sidebar-menu-item-text {
    margin: 0 0 0 7%;
    padding: 0;
    display: block;
    width: 60%;
    font-size: 1.2em;
    color: #272727;
    transition: 0.3s;
    font-weight: 500;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item:hover, #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item.selected {
    background-color: #0153FF;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item:hover .sidebar-menu-item-link .sidebar-menu-item-img path, #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item.selected .sidebar-menu-item-link .sidebar-menu-item-img path {
    fill: #fff;
    transition: 0.3s;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item:hover .sidebar-menu-item-link i, #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item.selected .sidebar-menu-item-link i {
    color: #FFF;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item:hover .sidebar-menu-item-link .sidebar-menu-item-text, #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item.selected .sidebar-menu-item-link .sidebar-menu-item-text {
    color: #fff;
  }
  #client-app-container #client-app-sidebar #close-session {
    background-color: #0153FF;
    color: #FFF;
    border: none;
    border-radius: 12px;
    padding: 10px 0;
    width: 70%;
    cursor: pointer;
    transition: 0.3s;
  }
  #client-app-container #client-app-sidebar #close-session:hover {
    transform: scale(0.95);
  }
  #client-app-container #client-app-sidebar #close-session #close-session-img {
    fill: #FFF;
    width: 25px;
  }
  #client-app-container #client-app-sidebar #close-session #close-session-text {
    margin: 0 0 0 10px;
    padding: 0;
    display: block;
    font-size: 1.1em;
  }
  #client-app-container #client-app-content-title {
    color: #00057B;
    font-weight: bold;
    margin: 0;
    padding: 3vh 0 2vh 2%;
    font-size: 2.5em;
  }
  #client-app-container .nav-tabs.principal-nav-tabs .nav-link {
    color: #0153FF;
    font-weight: bold;
    font-size: 1.3em;
    border-width: 2px;
    padding-left: 4vw;
    padding-right: 4vw;
    cursor: pointer;
  }
  #client-app-container .nav-tabs.principal-nav-tabs .nav-link.active {
    color: #707070;
  }
  #client-app-container .nav-tabs.sub-nav-tabs .nav-link {
    color: #00057B;
    font-weight: 600;
    font-size: 1.1em;
    border-width: 2px;
    padding-left: 4vw;
    padding-right: 4vw;
    cursor: pointer;
  }
  #client-app-container .nav-tabs.sub-nav-tabs .nav-link.active {
    color: #707070;
  }
  #client-app-container .tab-content {
    padding: 2vh 1vw 0 1vw;
  }
}
@media screen and (max-width: 768px) {
  #client-app-container #client-app-sidebar {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    padding: 3vh 0;
  }
  #client-app-container #client-app-sidebar #sidebar-client-logo {
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 6vw;
    height: 6vw;
    /*adjust the image to the size of the container*/
    -o-object-fit: cover;
       object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  }
  #client-app-container #client-app-sidebar #company-container {
    display: none;
  }
  #client-app-container #client-app-sidebar #sidebar-menu {
    margin: 4vh 0 2vh 0;
    padding: 0;
    display: block;
    width: 100%;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    transition: 0.3s;
    cursor: pointer;
    height: 50px;
    position: relative;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item .sidebar-menu-item-link {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    text-decoration: none;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item .sidebar-menu-item-link .sidebar-menu-item-img {
    margin: 0 auto;
    padding: 0;
    display: block;
    width: 20px;
    height: 100%;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item .sidebar-menu-item-link .sidebar-menu-item-img path {
    color: #454545;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item .sidebar-menu-item-link i {
    font-size: 18px;
    color: #999;
    transition: 0.3s;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item .sidebar-menu-item-link .sidebar-menu-item-text {
    display: none;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item:hover, #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item.selected {
    background-color: #0153FF;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item:hover .sidebar-menu-item-link .sidebar-menu-item-img path, #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item.selected .sidebar-menu-item-link .sidebar-menu-item-img path {
    fill: #fff;
    transition: 0.3s;
  }
  #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item:hover .sidebar-menu-item-link i, #client-app-container #client-app-sidebar #sidebar-menu .sidebar-menu-item.selected .sidebar-menu-item-link i {
    color: #FFF;
  }
  #client-app-container #client-app-sidebar #close-session {
    background-color: #0153FF;
    color: #FFF;
    border: none;
    border-radius: 12px;
    padding: 10px 0;
    width: 90%;
    cursor: pointer;
    transition: 0.3s;
  }
  #client-app-container #client-app-sidebar #close-session:hover {
    transform: scale(0.95);
  }
  #client-app-container #client-app-sidebar #close-session #close-session-img {
    fill: #FFF;
    width: 15px;
    margin: 0 auto;
  }
  #client-app-container #client-app-sidebar #close-session #close-session-text {
    display: none;
  }
  #client-app-container #client-app-content-title {
    color: #00057B;
    font-weight: bold;
    margin: 0;
    padding: 3vh 0 2vh 2%;
    font-size: 2.5em;
  }
  #client-app-container .nav-tabs.principal-nav-tabs .nav-link {
    color: #0153FF;
    font-weight: bold;
    font-size: 1.3em;
    border-width: 2px;
    padding-left: 4vw;
    padding-right: 4vw;
    cursor: pointer;
  }
  #client-app-container .nav-tabs.principal-nav-tabs .nav-link.active {
    color: #707070;
  }
  #client-app-container .nav-tabs.sub-nav-tabs .nav-link {
    color: #00057B;
    font-weight: 600;
    font-size: 1.1em;
    border-width: 2px;
    padding-left: 4vw;
    padding-right: 4vw;
    cursor: pointer;
  }
  #client-app-container .nav-tabs.sub-nav-tabs .nav-link.active {
    color: #707070;
  }
  #client-app-container .tab-content {
    padding: 2vh 1vw 0 1vw;
  }
}
