.text-white {
  color: #ffffff;
}

.bg-success {
  background-color: #1bcc5a;
}

.bg-secondary {
  background-color: #0153FF;
}

.bg-primary {
  background-color: #00057B;
}

.text-gray-primary {
  color: #FFFFFF;
}

.text-success {
  color: #1bcc5a;
}

.text-gray-secondary {
  color: #F2F2F2;
}

@media screen and (min-width: 768px) {
  #menu-nav {
    top: 0;
    left: 0;
    padding-right: 0;
    padding-left: 0;
    height: -moz-min-content;
    height: min-content;
  }
  #menu-nav #first-header {
    background-color: #00057B;
    padding-top: 3px;
    padding-bottom: 3px;
    justify-content: flex-end;
  }
  #menu-nav #first-header #header-sing-container {
    padding-right: 50px;
    border-right: 1px solid #ffffff;
  }
  #menu-nav #first-header #header-sing-container .header-sing-opt, #menu-nav #first-header #header-sing-container span {
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: 0.3s;
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid #00057B;
  }
  #menu-nav #first-header #header-sing-container .header-sing-opt:hover, #menu-nav #first-header #header-sing-container span:hover {
    border-bottom: 1px solid #ffffff;
  }
  #menu-nav #first-header #header-social-media-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  #menu-nav #first-header #header-social-media-list .header-social-media-item {
    margin: 0 0 0 50px;
    padding: 0;
    height: 70%;
  }
  #menu-nav #first-header #header-social-media-list .header-social-media-item a {
    color: #ffffff;
    height: 70%;
  }
  #menu-nav #first-header #header-social-media-list .header-social-media-item a i {
    font-size: 1rem;
    transition: 0.3s;
  }
  #menu-nav #first-header #header-social-media-list .header-social-media-item a i:hover {
    transform: scale(1.2) !important;
    color: #ffffff !important;
  }
  #menu-nav #secondary-header {
    background-color: #00057b;
  }
  #menu-nav #secondary-header #header-business-logo {
    padding: 0;
    margin: 0;
    width: 130px;
    cursor: pointer;
  }
  #menu-nav #secondary-header #header-navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: inherit;
    list-style: none;
  }
  #menu-nav #secondary-header #header-navigation-list .header-navigation-list-item {
    margin: 0;
    padding: 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #menu-nav #secondary-header #header-navigation-list .header-navigation-list-item a, #menu-nav #secondary-header #header-navigation-list .header-navigation-list-item i {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 400;
  }
  #menu-nav #secondary-header #header-navigation-list .header-navigation-list-item a:hover, #menu-nav #secondary-header #header-navigation-list .header-navigation-list-item i:hover {
    color: #ffffff;
    text-decoration: none;
  }
  #menu-nav #secondary-header #header-navigation-list .header-navigation-list-item #header-menu-notification-icon {
    font-size: 18px;
    font-weight: 300;
  }
  #menu-nav #secondary-header #header-navigation-list .header-navigation-list-item.header-navigation-normal {
    margin: 0 4% 0 0;
  }
  #menu-nav #secondary-header #header-navigation-list .header-navigation-list-item:hover {
    transform: scale(1.05);
  }
  #menu-nav #secondary-header #header-navigation-list #header-menu-client-user-profile-container {
    margin: 0 !important;
    text-align: left;
    background-color: #FFF;
    color: #272727;
    border-radius: 12px;
  }
  #menu-nav #secondary-header #header-navigation-list #header-menu-client-user-profile-container p {
    margin: 0;
    padding: 0;
    border-radius: 12px;
  }
  #menu-nav #secondary-header #header-navigation-list #header-menu-client-user-profile-container #header-menu-client-user-initials {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background-color: #ffffff;
    color: #00057B;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
  }
  #menu-nav #secondary-header #header-navigation-list #header-menu-client-user-profile-container #header-menu-client-user-name {
    margin: 0;
    padding: 3px 10px;
    min-width: 120px;
    text-align: ce;
    background-color: #FFF;
    color: #272727;
  }
  #menu-nav #secondary-header #header-navigation-list #header-service-opt:hover #header-services-opt-list {
    display: block;
  }
  #menu-nav #secondary-header #header-navigation-list #header-service-opt #header-services-opt-list {
    transition: 0.3s;
    margin: 0;
    padding: 0 15px;
    display: none;
    width: 250px;
    list-style: none;
    text-align: center;
    background-color: #E5E9F6;
    position: absolute;
    transform: translateX(-38%);
  }
  #menu-nav #secondary-header #header-navigation-list #header-service-opt #header-services-opt-list .header-services-opt-list-item {
    padding: 3px 0;
    color: #272727;
    cursor: pointer;
  }
  #menu-nav #secondary-header #header-navigation-list #header-service-opt #header-services-opt-list .header-services-opt-list-item:not(:last-child) {
    border-bottom: 1px solid #272727;
  }
  #menu-nav #secondary-header #header-navigation-list #header-service-opt #header-services-opt-list .header-services-opt-list-item a {
    color: #272727;
    cursor: pointer;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
  }
  #menu-nav #secondary-header #header-navigation-list .header-pay-button {
    background-color: #F6AA1C;
    padding: 8px 50px;
    border-radius: 54px;
  }
}
@media screen and (max-width: 768px) {
  #menu-nav {
    background-color: #00057B;
    z-index: 100;
  }
  #menu-nav #secondary-header #burger-menu {
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  #menu-nav #secondary-header #header-business-logo {
    padding: 0;
    margin: 0;
    width: 100px;
  }
  #menu-nav #secondary-header #header-navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: inherit;
    list-style: none;
  }
  #menu-nav #secondary-header #header-navigation-list .header-navigation-list-item {
    margin: 0;
    padding: 0;
    transition: 0.3s;
  }
  #menu-nav #secondary-header #header-navigation-list .header-navigation-list-item a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
  }
  #menu-nav #secondary-header #header-navigation-list .header-navigation-list-item a:hover {
    color: #ffffff;
    text-decoration: none;
  }
  #menu-nav #secondary-header #header-navigation-list .header-navigation-list-item.header-navigation-normal {
    margin: 0 7% 0 0;
  }
  #menu-nav #secondary-header #header-navigation-list .header-navigation-list-item:hover {
    transform: scale(1.05);
  }
  #menu-nav #secondary-header #header-navigation-list #header-pay-button {
    background-color: #F6AA1C;
    padding: 8px 50px;
    border-radius: 54px;
  }
  #menu-nav #secondary-header #user-responsive-menu {
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  #menu-nav #responsive-menu {
    margin: 0;
    padding: 0 10px;
    width: 70%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    display: none;
    top: 0;
    left: -100%;
    z-index: 100;
    box-shadow: 0px 0px 5px 0px rgb(153, 153, 153);
  }
  #menu-nav #responsive-menu .header-pay-button {
    display: none;
    background-color: #F6AA1C;
    padding: 8px 50px;
    border-radius: 54px;
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
  }
  #menu-nav #responsive-menu #responsive-close-opt {
    margin: 0;
    padding: 0;
    display: block;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 1%;
    right: 3%;
    border: none;
    font-size: 1.5em;
  }
  #menu-nav #responsive-menu #responsive-header-logo {
    margin: 4% auto 0 auto;
    display: block;
    width: 60%;
  }
  #menu-nav #responsive-menu #responsive-ul-nav {
    margin: 4vh 0 0 0;
    padding: 0;
    display: block;
    list-style: none;
    text-align: center;
    height: 80vh;
  }
  #menu-nav #responsive-menu #responsive-ul-nav .nav-list {
    margin: 0 0 2vh 0;
    padding: 0;
    display: block;
    width: 100%;
    font-size: 1.3em;
    font-weight: 400;
    cursor: pointer;
    color: #00057B;
  }
  #menu-nav #responsive-menu #responsive-ul-nav .nav-list a {
    text-decoration: none;
  }
  #menu-nav #responsive-menu #responsive-ul-nav .nav-list:hover {
    color: #0153FF;
  }
  #menu-nav #responsive-menu #responsive-ul-nav .nav-list span {
    font-size: 18px;
  }
  #menu-nav #responsive-menu #responsive-ul-nav .nav-list .emergent-data {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
  }
  #menu-nav #responsive-menu #responsive-ul-nav .nav-list .emergent-data .emergent-list {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    list-style: none;
  }
  #menu-nav #responsive-menu #responsive-ul-nav .nav-list .emergent-data .emergent-list .emergent-list-category {
    text-decoration: none;
    font-size: 14px;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
  }
  #menu-nav #responsive-menu #responsive-ul-nav .nav-list .emergent-data .emergent-list .emergent-list-item {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
  }
  #menu-nav #responsive-menu #responsive-ul-nav .nav-list .emergent-data .emergent-list .emergent-list-item .emergent-list-sub-category {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 12px;
  }
}
