.text-white {
  color: #ffffff;
}

.bg-success {
  background-color: #1bcc5a;
}

.bg-secondary {
  background-color: #220245;
}

.bg-primary {
  background-color: #00057B;
}

.text-gray-primary {
  color: #FFFFFF;
}

.text-success {
  color: #1bcc5a;
}

.text-gray-secondary {
  color: #F2F2F2;
}
