.text-white {
  color: #ffffff;
}

.bg-success {
  background-color: #1bcc5a;
}

.bg-secondary {
  background-color: #220245;
}

.bg-primary {
  background-color: #00057B;
}

.text-gray-primary {
  color: #FFFFFF;
}

.text-success {
  color: #1bcc5a;
}

.text-gray-secondary {
  color: #F2F2F2;
}

@media screen and (min-width: 768px) {
  #companies-container #header-container {
    margin: 2vh 0 3vh 0;
    padding: 0;
    width: 100%;
  }
  #companies-container #header-container #update-client-verification i {
    transition: 0.3s;
    margin: 0 5px;
    font-size: 18px;
  }
  #companies-container #header-container #update-client-verification i.disabled {
    color: #707070;
  }
  #companies-container #header-container #update-client-verification i.enabled {
    color: #220245;
    transform: scale(1.3);
  }
  #companies-container #header-container #update-client-verification i:hover {
    transform: scale(1.1);
  }
  #companies-container #update-inputs-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #companies-container #update-inputs-container #update-client-description {
    border: 1px solid #707070;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
  }
  #companies-container #update-inputs-container .input-container {
    margin: 5px 0;
    padding: 0;
  }
  #companies-container #update-inputs-container .input-container .input-title {
    width: 30%;
    font-size: 1.1em;
  }
  #companies-container #update-inputs-container .input-container .input-value {
    width: 70%;
    margin: 0;
  }
  #companies-container #update-inputs-container .multimedia-input-container {
    position: relative;
    cursor: pointer;
    margin: 0 5%;
  }
  #companies-container #update-inputs-container .multimedia-input-container:hover .image-icon,
  #companies-container #update-inputs-container .multimedia-input-container:hover .image-plus-icon {
    transform: scale(1.05);
  }
  #companies-container #update-inputs-container .multimedia-input-container #update-client-img-container,
  #companies-container #update-inputs-container .multimedia-input-container #update-client-color-container {
    border: 4px solid #707070;
    border-radius: 50%;
    width: 7vw;
    height: 7vw;
    margin: 0 auto;
    transition: 0.3s;
  }
  #companies-container #update-inputs-container .multimedia-input-container #update-client-img-container .image-icon, #companies-container #update-inputs-container .multimedia-input-container #update-client-img-container .color-icon,
  #companies-container #update-inputs-container .multimedia-input-container #update-client-color-container .image-icon,
  #companies-container #update-inputs-container .multimedia-input-container #update-client-color-container .color-icon {
    font-size: 4vw;
    color: #707070;
    transition: 0.3s;
  }
  #companies-container #update-inputs-container .multimedia-input-container .image-plus-icon {
    position: absolute;
    bottom: 0vw;
    right: 0vw;
    z-index: 10;
    background-color: #220245;
    padding: 5px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    transition: 0.3s;
  }
  #companies-container #update-client-button {
    margin: 2vh 2% 0 auto;
    width: 200px;
    display: block;
  }
  #companies-container #sub-nav-users #create-client-inputs-container {
    margin: 1vh 0;
    padding: 2vh 1vw;
    width: 100%;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 20px;
  }
  #companies-container #sub-nav-users #create-client-inputs-container .input-container {
    margin: 5px 0;
    padding: 0;
  }
  #companies-container #sub-nav-users #create-client-inputs-container .input-container .input-title {
    width: 30%;
    font-size: 1.1em;
  }
  #companies-container #sub-nav-users #create-client-inputs-container .input-container .input-value {
    width: 70%;
    margin: 0;
    background-color: transparent;
  }
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container {
    position: relative;
    cursor: pointer;
    margin: 0 5%;
  }
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container:hover .image-icon,
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container:hover .image-plus-icon {
    transform: scale(1.05);
  }
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container #create-client-user-img-container,
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container #create-client-user-color-container {
    border: 4px solid #707070;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    transition: 0.3s;
  }
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container #create-client-user-img-container .image-icon, #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container #create-client-user-img-container .color-icon,
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container #create-client-user-color-container .image-icon,
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container #create-client-user-color-container .color-icon {
    font-size: 25px;
    color: #707070;
    transition: 0.3s;
  }
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container .image-plus-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: #220245;
    padding: 5px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 10px;
    transition: 0.3s;
  }
  #companies-container #sub-nav-users #create-client-inputs-container #add-client-user-button {
    width: 120px;
  }
  #companies-container #sub-nav-users #client-users-table #client-users-table-body .color-column div {
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  #companies-container #sub-nav-users #client-users-table #client-users-table-body .color-column div p {
    font-size: 0.9em;
    color: #FFF;
  }
  #companies-container #sub-nav-documents #client-documents-add-container {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 20px;
    padding: 3vh 5%;
  }
  #companies-container #sub-nav-documents #client-documents-add-container .client-document-input-title {
    margin: 0;
    padding: 0;
    display: block;
    height: -moz-min-content;
    height: min-content;
    color: #707070;
    font-weight: 600;
  }
  #companies-container #sub-nav-documents #client-documents-add-container .client-document-input-name {
    background-color: transparent;
  }
  #companies-container #sub-nav-documents #client-documents-add-container .client-document-input-file {
    border: 1px solid #707070;
    border-radius: 20px;
  }
  #companies-container #sub-nav-documents #client-documents-table #client-documents-table-body .client-document-input-name {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    border: none;
    color: #707070;
    font-weight: 500;
    font-size: 1.1em;
  }
  #companies-container #sub-nav-documents #client-documents-table #client-documents-table-body .client-document-input-link {
    color: #220245;
    font-weight: 600;
    font-size: 1.1em;
  }
  #companies-container #sub-nav-documents #client-licenses-table #client-licenses-table-body .client-license-input-name {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    border: none;
    color: #707070;
    font-weight: 500;
    font-size: 1.1em;
  }
  #companies-container #sub-nav-documents #client-licenses-table #client-licenses-table-body .client-license-input-link {
    color: #220245;
    font-weight: 600;
    font-size: 1.1em;
  }
  #companies-container #sub-nav-documents #client-licenses-table #client-licenses-table-body .client-license-input-comission {
    width: 80px;
  }
}
@media screen and (max-width: 768px) {
  #companies-container #header-container {
    margin: 2vh 0 3vh 0;
    padding: 0;
    width: 100%;
  }
  #companies-container #header-container .input-title {
    display: none;
  }
  #companies-container #header-container #update-client-verification i {
    transition: 0.3s;
    margin: 0 5px;
    font-size: 18px;
  }
  #companies-container #header-container #update-client-verification i.disabled {
    color: #707070;
  }
  #companies-container #header-container #update-client-verification i.enabled {
    color: #220245;
    transform: scale(1.3);
  }
  #companies-container #header-container #update-client-verification i:hover {
    transform: scale(1.1);
  }
  #companies-container #update-inputs-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #companies-container #update-inputs-container #update-client-description {
    border: 1px solid #707070;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
  }
  #companies-container #update-inputs-container .input-container {
    margin: 5px 0;
    padding: 0;
  }
  #companies-container #update-inputs-container .input-container .input-title {
    width: 30%;
    font-size: 1.1em;
  }
  #companies-container #update-inputs-container .input-container .input-value {
    width: 70%;
    margin: 0;
  }
  #companies-container #update-inputs-container .multimedia-input-container {
    position: relative;
    cursor: pointer;
    margin: 0 5%;
  }
  #companies-container #update-inputs-container .multimedia-input-container:hover .image-icon,
  #companies-container #update-inputs-container .multimedia-input-container:hover .image-plus-icon {
    transform: scale(1.05);
  }
  #companies-container #update-inputs-container .multimedia-input-container #update-client-img-container,
  #companies-container #update-inputs-container .multimedia-input-container #update-client-color-container {
    border: 4px solid #707070;
    border-radius: 50%;
    width: 17vw;
    height: 17vw;
    margin: 0 auto;
    transition: 0.3s;
  }
  #companies-container #update-inputs-container .multimedia-input-container #update-client-img-container .image-icon, #companies-container #update-inputs-container .multimedia-input-container #update-client-img-container .color-icon,
  #companies-container #update-inputs-container .multimedia-input-container #update-client-color-container .image-icon,
  #companies-container #update-inputs-container .multimedia-input-container #update-client-color-container .color-icon {
    font-size: 4vw;
    color: #707070;
    transition: 0.3s;
  }
  #companies-container #update-inputs-container .multimedia-input-container .image-plus-icon {
    position: absolute;
    bottom: 0vw;
    right: 0vw;
    z-index: 10;
    background-color: #220245;
    padding: 5px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    transition: 0.3s;
  }
  #companies-container #update-client-button {
    margin: 2vh 2% 0 auto;
    width: 200px;
    display: block;
  }
  #companies-container #sub-nav-users #create-client-inputs-container {
    margin: 1vh 0;
    padding: 2vh 1vw;
    width: 100%;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 20px;
  }
  #companies-container #sub-nav-users #create-client-inputs-container .input-container {
    margin: 5px 0;
    padding: 0;
  }
  #companies-container #sub-nav-users #create-client-inputs-container .input-container .input-title {
    width: 30%;
    font-size: 1.1em;
  }
  #companies-container #sub-nav-users #create-client-inputs-container .input-container .input-value {
    width: 70%;
    margin: 0;
    background-color: transparent;
  }
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container {
    position: relative;
    cursor: pointer;
    margin: 0 5%;
  }
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container:hover .image-icon,
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container:hover .image-plus-icon {
    transform: scale(1.05);
  }
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container #create-client-user-img-container,
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container #create-client-user-color-container {
    border: 4px solid #707070;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    transition: 0.3s;
  }
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container #create-client-user-img-container .image-icon, #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container #create-client-user-img-container .color-icon,
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container #create-client-user-color-container .image-icon,
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container #create-client-user-color-container .color-icon {
    font-size: 25px;
    color: #707070;
    transition: 0.3s;
  }
  #companies-container #sub-nav-users #create-client-inputs-container .multimedia-input-container .image-plus-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: #220245;
    padding: 5px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 10px;
    transition: 0.3s;
  }
  #companies-container #sub-nav-users #create-client-inputs-container #add-client-user-button {
    width: 120px;
  }
  #companies-container #sub-nav-users #client-users-table #client-users-table-body .color-column div {
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  #companies-container #sub-nav-users #client-users-table #client-users-table-body .color-column div p {
    font-size: 0.9em;
    color: #FFF;
  }
  #companies-container #sub-nav-documents #client-documents-add-container {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 20px;
    padding: 3vh 5%;
  }
  #companies-container #sub-nav-documents #client-documents-add-container .client-document-input-title {
    margin: 0;
    padding: 0;
    display: block;
    height: -moz-min-content;
    height: min-content;
    color: #707070;
    font-weight: 600;
  }
  #companies-container #sub-nav-documents #client-documents-add-container .client-document-input-name {
    background-color: transparent;
  }
  #companies-container #sub-nav-documents #client-documents-add-container .client-document-input-file {
    border: 1px solid #707070;
    border-radius: 20px;
  }
  #companies-container #sub-nav-documents #client-documents-table #client-documents-table-body .client-document-input-name {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    border: none;
    color: #707070;
    font-weight: 500;
    font-size: 1.1em;
  }
  #companies-container #sub-nav-documents #client-documents-table #client-documents-table-body .client-document-input-link {
    color: #220245;
    font-weight: 600;
    font-size: 1.1em;
  }
  #companies-container #sub-nav-documents #client-licenses-table #client-licenses-table-body .client-license-input-name {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    border: none;
    color: #707070;
    font-weight: 500;
    font-size: 1.1em;
  }
  #companies-container #sub-nav-documents #client-licenses-table #client-licenses-table-body .client-license-input-link {
    color: #220245;
    font-weight: 600;
    font-size: 1.1em;
  }
  #companies-container #sub-nav-documents #client-licenses-table #client-licenses-table-body .client-license-input-comission {
    width: 80px;
  }
}
