.text-white {
  color: #ffffff;
}

.bg-success {
  background-color: #1bcc5a;
}

.bg-secondary {
  background-color: #0153FF;
}

.bg-primary {
  background-color: #00057B;
}

.text-gray-primary {
  color: #FFFFFF;
}

.text-success {
  color: #1bcc5a;
}

.text-gray-secondary {
  color: #F2F2F2;
}

@media screen and (min-width: 768px) {
  #dashboard-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70vh;
  }
  #dashboard-container #dashboard-logo {
    width: 300px;
  }
}
@media screen and (max-width: 768px) {
  #dashboard-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80vh;
  }
  #dashboard-container #dashboard-logo {
    width: 300px;
  }
}
