.text-white {
  color: #ffffff;
}

.bg-success {
  background-color: #1bcc5a;
}

.bg-secondary {
  background-color: #0153FF;
}

.bg-primary {
  background-color: #00057B;
}

.text-gray-primary {
  color: #FFFFFF;
}

.text-success {
  color: #1bcc5a;
}

.text-gray-secondary {
  color: #F2F2F2;
}

@media screen and (min-width: 768px) {
  #nav-list #user-list-container {
    max-height: 75vh;
    margin: 0 0 2vh 0;
  }
  #nav-list #user-list-container #search-list-container {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    padding: 2vh 0;
    width: 90%;
    display: block;
    margin: 1vh auto;
  }
  #nav-list #user-list-container #search-list-container #search-list-title {
    margin: 0 15px 0 0;
    padding: 0;
    color: #00057B;
    font-weight: bold;
  }
  #nav-list #user-list-container #search-list-container #search-list-input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #707070;
    padding: 0;
    width: 25vw;
  }
  #nav-list #user-list-container #user-list-table {
    margin: 0;
    padding: 0;
  }
  #nav-list #user-list-container #user-list-table #user-list-table-header {
    position: sticky;
    top: 0;
  }
  #nav-list #user-list-container #user-list-table #user-list-table-body .image-column-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-width: 2px;
    border-style: solid;
  }
  #nav-list #user-list-container #user-list-table .columns-actions {
    white-space: nowrap;
  }
  #nav-list #user-list-container #user-list-table .columns-actions i {
    display: inline-block;
    vertical-align: middle;
  }
  #nav-create #create-inputs-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #nav-create #create-inputs-container .input-container {
    margin: 5px 0;
    padding: 0;
  }
  #nav-create #create-inputs-container .input-container .input-title {
    width: 30%;
    font-size: 1.1em;
  }
  #nav-create #create-inputs-container .input-container .input-value {
    width: 70%;
    margin: 0;
  }
  #nav-create #create-inputs-container .multimedia-input-container {
    position: relative;
    cursor: pointer;
    margin: 0 5%;
  }
  #nav-create #create-inputs-container .multimedia-input-container:hover .image-icon,
  #nav-create #create-inputs-container .multimedia-input-container:hover .image-plus-icon {
    transform: scale(1.05);
  }
  #nav-create #create-inputs-container .multimedia-input-container #create-user-img-container,
  #nav-create #create-inputs-container .multimedia-input-container #create-user-color-container {
    border: 4px solid #707070;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    transition: 0.3s;
  }
  #nav-create #create-inputs-container .multimedia-input-container #create-user-img-container .image-icon, #nav-create #create-inputs-container .multimedia-input-container #create-user-img-container .color-icon,
  #nav-create #create-inputs-container .multimedia-input-container #create-user-color-container .image-icon,
  #nav-create #create-inputs-container .multimedia-input-container #create-user-color-container .color-icon {
    font-size: 25px;
    color: #707070;
    transition: 0.3s;
  }
  #nav-create #create-inputs-container .multimedia-input-container .image-plus-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: #0153FF;
    padding: 5px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 10px;
    transition: 0.3s;
  }
  #nav-create #permissions-container {
    margin: 4vh auto 0 auto;
    padding: 2vh 2%;
    display: block;
    width: 95%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border-radius: 20px;
  }
  #nav-create #permissions-container #permissions-title {
    color: #707070;
  }
  #nav-create #permissions-container .permissions-list {
    margin: 0;
    padding: 0;
  }
  #nav-create #permissions-container .permissions-list .permission-input-container {
    margin: 0 0 5px 0;
    padding: 0;
  }
  #nav-create #permissions-container .permissions-list .permission-input-container .form-check-input {
    margin: 0 5px 0 0;
    cursor: pointer;
  }
  #nav-create #permissions-container .permissions-list .permission-input-container .permission-label {
    color: #707070;
    font-size: 1.1em;
    cursor: pointer;
  }
  #nav-create #add-button {
    margin: 3vh 2% 0 auto;
    width: 200px;
    display: block;
  }
  #nav-update #user-sub-opt-container {
    margin-top: 20px;
    width: 170px;
    margin: 10px auto 0 auto;
  }
  #nav-update #user-sub-opt-container #update-user-go-traceability {
    padding: 5px 35px;
    margin: 0 3px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-update #user-sub-opt-container #update-user-go-traceability:hover {
    background-color: #0153FF;
  }
  #nav-update #user-sub-opt-container #update-user-go-traceability:hover i {
    color: #ffffff;
  }
  #nav-update #user-sub-opt-container #update-user-go-traceability i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #0153FF;
  }
  #nav-update #user-sub-opt-container #update-user-delete {
    padding: 7px 15px;
    margin: 0 3px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-update #user-sub-opt-container #update-user-delete i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #707070;
  }
  #nav-update #user-sub-opt-container #update-user-delete i:hover {
    color: #ffffff !important;
  }
  #nav-update #user-sub-opt-container #update-user-delete:hover {
    background-color: #C90D0D;
  }
  #nav-update #user-sub-opt-container #update-user-delete:hover i {
    color: #ffffff;
  }
  #nav-update #user-sub-opt-container #update-user-restore {
    padding: 5px 10px;
    margin: 0 3px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-update #user-sub-opt-container #update-user-restore:hover {
    background-color: #F6AA1C;
  }
  #nav-update #user-sub-opt-container #update-user-restore:hover i {
    color: #ffffff;
  }
  #nav-update #user-sub-opt-container #update-user-restore i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #707070;
  }
  #nav-update #update-inputs-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #nav-update #update-inputs-container .input-container {
    margin: 5px 0;
    padding: 0;
  }
  #nav-update #update-inputs-container .input-container .input-title {
    width: 30%;
    font-size: 1.1em;
  }
  #nav-update #update-inputs-container .input-container .input-value {
    width: 70%;
    margin: 0;
  }
  #nav-update #update-inputs-container .multimedia-input-container {
    position: relative;
    cursor: pointer;
    margin: 0 5%;
  }
  #nav-update #update-inputs-container .multimedia-input-container:hover .image-icon,
  #nav-update #update-inputs-container .multimedia-input-container:hover .image-plus-icon {
    transform: scale(1.05);
  }
  #nav-update #update-inputs-container .multimedia-input-container #update-user-img-container,
  #nav-update #update-inputs-container .multimedia-input-container #update-user-color-container {
    border: 4px solid #707070;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    transition: 0.3s;
  }
  #nav-update #update-inputs-container .multimedia-input-container #update-user-img-container .image-icon, #nav-update #update-inputs-container .multimedia-input-container #update-user-img-container .color-icon,
  #nav-update #update-inputs-container .multimedia-input-container #update-user-color-container .image-icon,
  #nav-update #update-inputs-container .multimedia-input-container #update-user-color-container .color-icon {
    font-size: 25px;
    color: #707070;
    transition: 0.3s;
  }
  #nav-update #update-inputs-container .multimedia-input-container .image-plus-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: #0153FF;
    padding: 5px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 10px;
    transition: 0.3s;
  }
  #nav-update #permissions-container {
    margin: 4vh auto 0 auto;
    padding: 2vh 2%;
    display: block;
    width: 95%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border-radius: 20px;
  }
  #nav-update #permissions-container #permissions-title {
    color: #707070;
  }
  #nav-update .permissions-list {
    margin: 0;
    padding: 0;
  }
  #nav-update .permissions-list .permission-input-container {
    margin: 0 0 5px 0;
    padding: 0;
  }
  #nav-update .permissions-list .permission-input-container .form-check-input {
    margin: 0 5px 0 0;
    cursor: pointer;
  }
  #nav-update .permissions-list .permission-input-container .permission-label {
    color: #707070;
    font-size: 1.1em;
    cursor: pointer;
  }
  #nav-update #update-button {
    margin: 3vh 2% 0 auto;
    width: 200px;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  #nav-list #user-list-container {
    max-height: 75vh;
    margin: 0 0 2vh 0;
  }
  #nav-list #user-list-container #search-list-container {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    padding: 2vh 0;
    width: 90%;
    display: block;
    margin: 1vh auto;
  }
  #nav-list #user-list-container #search-list-container #search-list-title {
    display: none;
  }
  #nav-list #user-list-container #search-list-container #search-list-input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #707070;
    padding: 0;
    width: 90%;
    text-align: center;
  }
  #nav-list #user-list-container #user-list-table {
    margin: 0;
    padding: 0;
  }
  #nav-list #user-list-container #user-list-table .fa-bars-progress {
    display: none;
  }
  #nav-list #user-list-container #user-list-table p, #nav-list #user-list-container #user-list-table a {
    font-size: 14px !important;
  }
  #nav-list #user-list-container #user-list-table #user-list-table-header {
    position: sticky;
    top: 0;
  }
  #nav-list #user-list-container #user-list-table .column-id,
  #nav-list #user-list-container #user-list-table .column-photo,
  #nav-list #user-list-container #user-list-table .column-email {
    display: none;
  }
  #nav-list #user-list-container #user-list-table .column-name {
    max-width: 25vw;
  }
  #nav-list #user-list-container #user-list-table #user-list-table-body .image-column-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-width: 2px;
    border-style: solid;
  }
  #nav-create #create-inputs-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #nav-create #create-inputs-container #multimedia-container {
    order: 0;
    padding: 2vh 0;
  }
  #nav-create #create-inputs-container .inputs-cols {
    order: 1;
  }
  #nav-create #create-inputs-container .input-container {
    margin: 5px 0;
    padding: 0;
  }
  #nav-create #create-inputs-container .input-container .input-title {
    width: 30%;
    font-size: 1.1em;
  }
  #nav-create #create-inputs-container .input-container .input-value {
    width: 70%;
    margin: 0;
  }
  #nav-create #create-inputs-container .multimedia-input-container {
    position: relative;
    cursor: pointer;
    margin: 0 5%;
  }
  #nav-create #create-inputs-container .multimedia-input-container:hover .image-icon,
  #nav-create #create-inputs-container .multimedia-input-container:hover .image-plus-icon {
    transform: scale(1.05);
  }
  #nav-create #create-inputs-container .multimedia-input-container #create-user-img-container,
  #nav-create #create-inputs-container .multimedia-input-container #create-user-color-container {
    border: 4px solid #707070;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    transition: 0.3s;
  }
  #nav-create #create-inputs-container .multimedia-input-container #create-user-img-container .image-icon, #nav-create #create-inputs-container .multimedia-input-container #create-user-img-container .color-icon,
  #nav-create #create-inputs-container .multimedia-input-container #create-user-color-container .image-icon,
  #nav-create #create-inputs-container .multimedia-input-container #create-user-color-container .color-icon {
    font-size: 25px;
    color: #707070;
    transition: 0.3s;
  }
  #nav-create #create-inputs-container .multimedia-input-container .image-plus-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: #0153FF;
    padding: 5px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 10px;
    transition: 0.3s;
  }
  #nav-create #permissions-container {
    margin: 4vh auto 0 auto;
    padding: 2vh 2%;
    display: block;
    width: 95%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border-radius: 20px;
  }
  #nav-create #permissions-container #permissions-title {
    color: #707070;
  }
  #nav-create #permissions-container .permissions-list {
    margin: 0;
    padding: 0;
  }
  #nav-create #permissions-container .permissions-list .permission-input-container {
    margin: 0 0 5px 0;
    padding: 0;
  }
  #nav-create #permissions-container .permissions-list .permission-input-container .form-check-input {
    margin: 0 5px 0 0;
    cursor: pointer;
  }
  #nav-create #permissions-container .permissions-list .permission-input-container .permission-label {
    color: #707070;
    font-size: 1.1em;
    cursor: pointer;
  }
  #nav-create #add-button {
    margin: 3vh 2% 3vh auto;
    width: 200px;
    display: block;
  }
  #nav-update #user-sub-opt-container {
    margin-top: 20px;
    width: 170px;
    margin: 10px auto 0 auto;
  }
  #nav-update #user-sub-opt-container #update-user-go-traceability {
    padding: 5px 35px;
    margin: 0 3px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-update #user-sub-opt-container #update-user-go-traceability:hover {
    background-color: #0153FF;
  }
  #nav-update #user-sub-opt-container #update-user-go-traceability:hover i {
    color: #ffffff;
  }
  #nav-update #user-sub-opt-container #update-user-go-traceability i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #0153FF;
  }
  #nav-update #user-sub-opt-container #update-user-delete {
    padding: 7px 15px;
    margin: 0 3px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-update #user-sub-opt-container #update-user-delete i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #707070;
  }
  #nav-update #user-sub-opt-container #update-user-delete i:hover {
    color: #ffffff !important;
  }
  #nav-update #user-sub-opt-container #update-user-delete:hover {
    background-color: #C90D0D;
  }
  #nav-update #user-sub-opt-container #update-user-delete:hover i {
    color: #ffffff;
  }
  #nav-update #user-sub-opt-container #update-user-restore {
    padding: 5px 10px;
    margin: 0 3px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-update #user-sub-opt-container #update-user-restore:hover {
    background-color: #F6AA1C;
  }
  #nav-update #user-sub-opt-container #update-user-restore:hover i {
    color: #ffffff;
  }
  #nav-update #user-sub-opt-container #update-user-restore i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #707070;
  }
  #nav-update #update-inputs-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #nav-update #update-inputs-container .input-container {
    margin: 5px 0;
    padding: 0;
  }
  #nav-update #update-inputs-container .input-container .input-title {
    width: 30%;
    font-size: 1.1em;
  }
  #nav-update #update-inputs-container .input-container .input-value {
    width: 70%;
    margin: 0;
  }
  #nav-update #update-inputs-container .multimedia-input-container {
    position: relative;
    cursor: pointer;
    margin: 0 5%;
  }
  #nav-update #update-inputs-container .multimedia-input-container:hover .image-icon,
  #nav-update #update-inputs-container .multimedia-input-container:hover .image-plus-icon {
    transform: scale(1.05);
  }
  #nav-update #update-inputs-container .multimedia-input-container #update-user-img-container,
  #nav-update #update-inputs-container .multimedia-input-container #update-user-color-container {
    border: 4px solid #707070;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    transition: 0.3s;
  }
  #nav-update #update-inputs-container .multimedia-input-container #update-user-img-container .image-icon, #nav-update #update-inputs-container .multimedia-input-container #update-user-img-container .color-icon,
  #nav-update #update-inputs-container .multimedia-input-container #update-user-color-container .image-icon,
  #nav-update #update-inputs-container .multimedia-input-container #update-user-color-container .color-icon {
    font-size: 25px;
    color: #707070;
    transition: 0.3s;
  }
  #nav-update #update-inputs-container .multimedia-input-container .image-plus-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: #0153FF;
    padding: 5px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 10px;
    transition: 0.3s;
  }
  #nav-update #permissions-container {
    margin: 4vh auto 0 auto;
    padding: 2vh 2%;
    display: block;
    width: 95%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border-radius: 20px;
  }
  #nav-update #permissions-container #permissions-title {
    color: #707070;
  }
  #nav-update .permissions-list {
    margin: 0;
    padding: 0;
  }
  #nav-update .permissions-list .permission-input-container {
    margin: 0 0 5px 0;
    padding: 0;
  }
  #nav-update .permissions-list .permission-input-container .form-check-input {
    margin: 0 5px 0 0;
    cursor: pointer;
  }
  #nav-update .permissions-list .permission-input-container .permission-label {
    color: #707070;
    font-size: 1.1em;
    cursor: pointer;
  }
  #nav-update #update-button {
    margin: 3vh 2% 0 auto;
    width: 200px;
    display: block;
  }
}
