.text-white {
  color: #ffffff;
}

.bg-success {
  background-color: #1bcc5a;
}

.bg-secondary {
  background-color: #0153FF;
}

.bg-primary {
  background-color: #00057B;
}

.text-gray-primary {
  color: #FFFFFF;
}

.text-success {
  color: #1bcc5a;
}

.text-gray-secondary {
  color: #F2F2F2;
}

@media screen and (min-width: 768px) {
  #login-container {
    height: 100dvh;
    margin: 0;
    padding: 0;
    background: rgb(36, 37, 116);
    background: linear-gradient(90deg, rgb(36, 37, 116) 0%, rgb(22, 46, 164) 74%, rgb(9, 50, 187) 100%);
    background-image: url("/images/login/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #login-container #login-centered {
    width: 90vw;
  }
  #login-container #login-centered #login-data-container {
    /* UI Properties */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border: 1px solid #707070;
    border-radius: 22px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 4vh 2vw;
  }
  #login-container #login-centered #login-data-container #avatar-img {
    margin: auto;
    display: block;
    width: 200px;
  }
  #login-container #login-centered #login-data-container #login-title {
    margin: 30px 0 5px 0;
    padding: 0;
    display: block;
    color: #ffffff;
    text-align: center;
  }
  #login-container #login-centered #login-data-container #login-message {
    margin: 0;
    padding: 0;
    display: block;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
  }
  #login-container #login-centered #login-data-container .form-control {
    text-align: center;
    margin: 20px 0;
    font-size: 1.3em;
    color: #707070;
  }
  #login-container #login-centered #login-data-container #login-btn {
    border-radius: 8px !important;
    display: block;
    margin: 0 auto;
    font-size: 1.3em;
    width: 300px;
  }
  #login-container #login-centered #login-data-container #forgot-password {
    margin: 40px 0 0 0;
    padding: 0;
    display: block;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
    text-decoration: underline;
    cursor: pointer;
  }
  #login-container #login-centered #login-data-container #register-container {
    margin: 10px 0 0 0;
    padding: 0;
    cursor: pointer;
  }
  #login-container #login-centered #login-data-container #register-container p {
    margin: 0 10px;
    padding: 0;
    font-size: 1.1em;
    font-weight: 500;
  }
  #login-container #login-centered #login-data-container #register-container #register-message {
    color: #ffffff;
  }
  #login-container #login-centered #login-data-container #register-container #register-link {
    color: #0153FF;
    text-decoration: underline;
  }
}
@media screen and (max-width: 768px) {
  #login-container {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgb(36, 37, 116);
    background: linear-gradient(90deg, rgb(36, 37, 116) 0%, rgb(22, 46, 164) 74%, rgb(9, 50, 187) 100%);
    background-image: url("/images/login/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #login-container #login-centered {
    width: 100vw;
  }
  #login-container #login-centered #login-data-container {
    /* UI Properties */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border: 1px solid #707070;
    border-radius: 22px;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 4vh 2vw;
  }
  #login-container #login-centered #login-data-container #avatar-img {
    margin: auto;
    display: block;
    width: 30%;
  }
  #login-container #login-centered #login-data-container #login-title {
    margin: 30px 0 5px 0;
    padding: 0;
    display: block;
    color: #ffffff;
    text-align: center;
  }
  #login-container #login-centered #login-data-container #login-message {
    margin: 0;
    padding: 0;
    display: block;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
  }
  #login-container #login-centered #login-data-container .form-control {
    text-align: center;
    margin: 20px 0;
    font-size: 1.3em;
    color: #707070;
  }
  #login-container #login-centered #login-data-container #login-btn {
    border-radius: 8px !important;
    display: block;
    margin: 0 auto;
    font-size: 1.3em;
    width: 300px;
  }
  #login-container #login-centered #login-data-container #forgot-password {
    margin: 40px 0 0 0;
    padding: 0;
    display: block;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
    text-decoration: underline;
    cursor: pointer;
  }
  #login-container #login-centered #login-data-container #register-container {
    margin: 10px 0 0 0;
    padding: 0;
    cursor: pointer;
  }
  #login-container #login-centered #login-data-container #register-container p {
    margin: 0 10px;
    padding: 0;
    font-size: 1.1em;
    font-weight: 500;
  }
  #login-container #login-centered #login-data-container #register-container #register-message {
    color: #ffffff;
  }
  #login-container #login-centered #login-data-container #register-container #register-link {
    color: #0153FF;
    text-decoration: underline;
  }
}
