.text-white {
  color: #ffffff;
}

.bg-success {
  background-color: #1bcc5a;
}

.bg-secondary {
  background-color: #220245;
}

.bg-primary {
  background-color: #00057B;
}

.text-gray-primary {
  color: #FFFFFF;
}

.text-success {
  color: #1bcc5a;
}

.text-gray-secondary {
  color: #F2F2F2;
}

@media screen and (min-width: 768px) {
  #my-profile-container {
    margin: 0 auto;
    padding: 0;
    width: 85%;
  }
  #my-profile-container #inputs-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #my-profile-container #inputs-container .input-container {
    margin: 5px 0;
    padding: 0;
  }
  #my-profile-container #inputs-container .input-container .input-title {
    width: 30%;
    font-size: 1.1em;
  }
  #my-profile-container #inputs-container .input-container .input-value {
    width: 70%;
    margin: 0;
  }
  #my-profile-container #inputs-container .multimedia-input-container {
    position: relative;
    cursor: pointer;
    margin: 0 5%;
  }
  #my-profile-container #inputs-container .multimedia-input-container:hover .image-plus-icon {
    transform: scale(1.05);
  }
  #my-profile-container #inputs-container .multimedia-input-container .input-color {
    visibility: hidden;
  }
  #my-profile-container #inputs-container .multimedia-input-container #client-user-color-container {
    border: 4px solid #707070;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    transition: 0.3s;
    background-size: contain;
  }
  #my-profile-container #inputs-container .multimedia-input-container #client-user-color-container .color-icon {
    font-size: 20px;
    color: #707070;
    transition: 0.3s;
  }
  #my-profile-container #inputs-container .multimedia-input-container .image-plus-icon {
    position: absolute;
    bottom: 0vw;
    right: 0vw;
    z-index: 10;
    background-color: #220245;
    padding: 5px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 10px;
    transition: 0.3s;
  }
  #my-profile-container #permissions-container {
    margin: 4vh auto 0 auto;
    padding: 2vh 2%;
    display: block;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border-radius: 20px;
  }
  #my-profile-container #permissions-container #permissions-title {
    color: #707070;
  }
  #my-profile-container #permissions-container .permissions-list {
    margin: 0;
    padding: 0;
  }
  #my-profile-container #permissions-container .permissions-list .permission-input-container {
    margin: 0 0 5px 0;
    padding: 0;
  }
  #my-profile-container #permissions-container .permissions-list .permission-input-container .form-check-input {
    margin: 0 5px 0 0;
    cursor: pointer;
  }
  #my-profile-container #permissions-container .permissions-list .permission-input-container .permission-label {
    color: #707070;
    font-size: 1.1em;
    cursor: pointer;
  }
  #my-profile-container #update-client-user-button {
    width: 200px;
    margin: 20px 0 0 auto;
    display: block;
  }
}
@media screen and (max-width: 768px) {
  #my-profile-container {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }
  #my-profile-container #inputs-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #my-profile-container #inputs-container .input-container {
    margin: 5px 0;
    padding: 0;
  }
  #my-profile-container #inputs-container .input-container .input-title {
    width: 30%;
    font-size: 1.1em;
  }
  #my-profile-container #inputs-container .input-container .input-value {
    width: 70%;
    margin: 0;
  }
  #my-profile-container #inputs-container .multimedia-input-container {
    position: relative;
    cursor: pointer;
    margin: 1vh 5%;
  }
  #my-profile-container #inputs-container .multimedia-input-container:hover .image-plus-icon {
    transform: scale(1.05);
  }
  #my-profile-container #inputs-container .multimedia-input-container .input-color {
    visibility: hidden;
  }
  #my-profile-container #inputs-container .multimedia-input-container #client-user-color-container {
    border: 4px solid #707070;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    transition: 0.3s;
    background-size: contain;
  }
  #my-profile-container #inputs-container .multimedia-input-container #client-user-color-container .color-icon {
    font-size: 20px;
    color: #707070;
    transition: 0.3s;
  }
  #my-profile-container #inputs-container .multimedia-input-container .image-plus-icon {
    position: absolute;
    bottom: 0vw;
    right: 0vw;
    z-index: 10;
    background-color: #220245;
    padding: 5px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 10px;
    transition: 0.3s;
  }
  #my-profile-container #permissions-container {
    margin: 4vh auto 0 auto;
    padding: 2vh 2%;
    display: block;
    width: 100%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border-radius: 20px;
  }
  #my-profile-container #permissions-container #permissions-title {
    color: #707070;
  }
  #my-profile-container #permissions-container .permissions-list {
    margin: 0;
    padding: 0;
  }
  #my-profile-container #permissions-container .permissions-list .permission-input-container {
    margin: 0 0 5px 0;
    padding: 0;
  }
  #my-profile-container #permissions-container .permissions-list .permission-input-container .form-check-input {
    margin: 0 5px 0 0;
    cursor: pointer;
  }
  #my-profile-container #permissions-container .permissions-list .permission-input-container .permission-label {
    color: #707070;
    font-size: 1.1em;
    cursor: pointer;
  }
  #my-profile-container #update-client-user-button {
    width: 200px;
    margin: 20px 0 0 auto;
    display: block;
  }
}
