.text-white {
  color: #ffffff;
}

.bg-success {
  background-color: #1bcc5a;
}

.bg-secondary {
  background-color: #220245;
}

.bg-primary {
  background-color: #00057B;
}

.text-gray-primary {
  color: #FFFFFF;
}

.text-success {
  color: #1bcc5a;
}

.text-gray-secondary {
  color: #F2F2F2;
}

@media screen and (min-width: 768px) {
  #approve_blog-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgb(36, 37, 116);
    background: linear-gradient(90deg, rgb(36, 37, 116) 0%, rgb(22, 46, 164) 74%, rgb(9, 50, 187) 100%);
    background-image: url("/images/approve/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #approve_blog-container #approve_blog-centered {
    margin: 0;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 70%;
    min-width: 500px;
    max-width: 800px;
    text-align: center;
  }
  #approve_blog-container #approve_blog-centered #approve_blog-title {
    font-size: 2rem;
    font-weight: 700;
    color: #00057B;
    margin-bottom: 20px;
  }
  #approve_blog-container #approve_blog-centered #approve_blog-message {
    font-size: 1.2rem;
    font-weight: 500;
    color: #707070;
    margin-bottom: 20px;
  }
  #approve_blog-container #approve_blog-centered .propagation-opt-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  #approve_blog-container #approve_blog-centered .propagation-opt-container .status-spinner {
    margin: 0 10px 0 0;
    padding: 0;
    align-self: center;
    font-size: 1.5em;
    visibility: hidden;
    color: #00057B;
  }
  #approve_blog-container #approve_blog-centered .propagation-opt-container .form-check-input {
    width: 20px;
    height: 20px;
    margin: 0 10px 0 0;
    padding: 0;
    align-self: center;
  }
  #approve_blog-container #approve_blog-centered .propagation-opt-container .form-check-label {
    font-size: 1.2rem;
    font-weight: 500;
    color: #707070;
    text-align: left;
    width: 50%;
    align-self: center;
  }
  #approve_blog-container #approve_blog-centered #approve_blog-loading-icon {
    font-size: 3rem;
    color: #00057B;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  #approve_blog-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgb(36, 37, 116);
    background: linear-gradient(90deg, rgb(36, 37, 116) 0%, rgb(22, 46, 164) 74%, rgb(9, 50, 187) 100%);
    background-image: url("/images/approve/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #approve_blog-container #approve_blog-centered {
    margin: 0;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 95%;
    text-align: center;
  }
  #approve_blog-container #approve_blog-centered #approve_blog-title {
    font-size: 2rem;
    font-weight: 700;
    color: #00057B;
    margin-bottom: 20px;
  }
  #approve_blog-container #approve_blog-centered #approve_blog-message {
    font-size: 1.2rem;
    font-weight: 500;
    color: #707070;
    margin-bottom: 20px;
  }
  #approve_blog-container #approve_blog-centered #approve_blog-loading-icon {
    font-size: 3rem;
    color: #00057B;
    margin-bottom: 20px;
  }
}
