@media screen and (min-width: 768px) {
    #nav-list{
        #license-list-container{
            max-height: 75vh;
            margin: 0 0 2vh 0;
            #search-list-container{
                background: #F8F8F8 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px #00000029;
                padding: 2vh 0;
                width: 90%;
                display: flex;
                justify-content: space-around;
                margin: 1vh auto;
                #search-list-input-contaner{
                    margin: 0 5px;
                    #search-list-title{
                        margin: 0 15px 0 0;
                        padding: 0;
                        color: $primary;
                        font-weight: bold;
                    }
                    #search-list-input{
                        background-color: transparent;
                        border: none;
                        border-radius: 0;
                        border-bottom: 1px solid $text-gray;
                        padding: 0;
                        width: 25vw;
                    }
                }
                #state-list-input-contaner{
                    margin: 0 5px;
                    #state-list-title{
                        margin: 0 15px 0 0;
                        padding: 0;
                        color: $primary;
                        font-weight: bold;
                    }
                    #state-list-input{
                        background-color: transparent;
                        border: none;
                        border-radius: 0;
                        border-bottom: 1px solid $text-gray;
                        padding: 0;
                        width: 15vw;
                    }
                }
            }
            #license-list-table{
                margin: 0;
                padding: 0;
                #license-list-table-header{
                    position: sticky;
                    top: 0;
                }
                #license-list-table-body{
                    .image-column-container{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
                .email-col{
                    width: 10vw;
                    p{
                        width: 10vw;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .active-col{
                    .active-state{
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                        margin: 0 auto;
                        display: block;
                        &.active-state-0{
                            background-color: #FFF;
                            color: $text-black;
                            -webkit-box-shadow: inset 2px 4px 20px 0px rgba(0,0,0,0.17);
                            -moz-box-shadow: inset 2px 4px 20px 0px rgba(0,0,0,0.17);
                            box-shadow: inset 2px 4px 20px 0px rgba(0,0,0,0.17);
                        }
                        &.active-state-1{
                            background-color: #10BE16;
                            color: #FFF;
                            -webkit-box-shadow: inset 2px 4px 20px 0px rgba(0,0,0,0.17);
                            -moz-box-shadow: inset 2px 4px 20px 0px rgba(0,0,0,0.17);
                            box-shadow: inset 2px 4px 20px 0px rgba(0,0,0,0.17);
                        }
                    }
                }
                .columns-actions{
                    white-space: nowrap;
                    i{
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    p, a{
        font-size: 14px !important;
    }
    #nav-list{
        #license-list-container{
            max-height: 75vh;
            margin: 0 0 2vh 0;
            #search-list-container{
                background: #F8F8F8 0% 0% no-repeat padding-box;
                box-shadow: 0px 3px 6px #00000029;
                padding: 2vh 0;
                width: 90%;
                display: block;
                margin: 1vh auto;
                #search-list-input-contaner{
                    margin: 5px 0;
                    #search-list-title{
                        display: none;
                    }
                    #search-list-input{
                        background-color: transparent;
                        border: none;
                        border-radius: 0;
                        border-bottom: 1px solid $text-gray;
                        padding: 0;
                        width: 90%;
                        text-align: center;
                    }
                }
                #state-list-input-contaner{
                    margin: 5px 0;
                    #state-list-title{
                        display: none;
                    }
                    #state-list-input{
                        background-color: transparent;
                        border: none;
                        border-radius: 0;
                        border-bottom: 1px solid $text-gray;
                        padding: 0;
                        width: 90%;
                        text-align: center;
                    }
                }
            }
            #license-list-table{
                margin: 0;
                padding: 0;
                .columns-type,
                .columns-id,
                .columns-service,
                .columns-last-billing-date,
                .columns-last-payed_date,
                .columns-remaining-days{
                    display: none   ;
                }
                .fa-bars-progress{
                    display: none;
                }
                td,th{
                    width: 25%;
                }
                #license-list-table-header{
                    position: sticky;
                    top: 0;
                }
                #license-list-table-body{
                    .image-column-container{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
                .email-col{
                    width: 10vw;
                    p{
                        width: 10vw;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .active-col{
                    .active-state{
                        border-radius: 50%;
                        width: 20px;
                        height: 20px;
                        margin: 0 auto;
                        display: block;
                        &.active-state-0{
                            background-color: #FFF;
                            color: $text-black;
                            -webkit-box-shadow: inset 2px 4px 20px 0px rgba(0,0,0,0.17);
                            -moz-box-shadow: inset 2px 4px 20px 0px rgba(0,0,0,0.17);
                            box-shadow: inset 2px 4px 20px 0px rgba(0,0,0,0.17);
                        }
                        &.active-state-1{
                            background-color: #10BE16;
                            color: #FFF;
                            -webkit-box-shadow: inset 2px 4px 20px 0px rgba(0,0,0,0.17);
                            -moz-box-shadow: inset 2px 4px 20px 0px rgba(0,0,0,0.17);
                            box-shadow: inset 2px 4px 20px 0px rgba(0,0,0,0.17);
                        }
                    }
                }
            }
        }
    }
}