#nav-update {
    #permissions-container {
        margin: 4vh auto 0 auto;
        padding: 2vh 2%;
        display: block;
        width: 95%;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 20px;

        #permissions-title {
            color: $text-gray;
        }
    }

    .permissions-list {
        margin: 0;
        padding: 0;

        .permission-input-container {
            margin: 0 0 5px 0;
            padding: 0;

            .form-check-input {
                margin: 0 5px 0 0;
                cursor: pointer;
            }

            .permission-label {
                color: $text-gray;
                font-size: 1.1em;
                cursor: pointer;
            }
        }
    }

    #update-button {
        margin: 3vh 2% 0 auto;
        width: 200px;
        display: block;
    }
}

@media screen and (max-width: 768px) {
    #nav-update #update-button {
        margin: 3vh 2% 3vh auto;
    }
}