.text-white {
  color: #ffffff;
}

.bg-success {
  background-color: #1bcc5a;
}

.bg-secondary {
  background-color: #0153FF;
}

.bg-primary {
  background-color: #00057B;
}

.text-gray-primary {
  color: #FFFFFF;
}

.text-success {
  color: #1bcc5a;
}

.text-gray-secondary {
  color: #F2F2F2;
}

@media screen and (min-width: 768px) {
  #pay-unlogged-container {
    height: 87vh;
    margin: 0;
    padding: 0;
    background: rgb(36, 37, 116);
    background: linear-gradient(90deg, rgb(36, 37, 116) 0%, rgb(22, 46, 164) 74%, rgb(9, 50, 187) 100%);
    background-image: url("/images/login/bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #pay-unlogged-container .avatar-img {
    margin: auto;
    display: block;
    width: 150px;
  }
  #pay-unlogged-container #pay-result-container {
    width: 90vw;
    display: none;
  }
  #pay-unlogged-container #pay-result-container #pay-result-data-continer {
    /* UI Properties */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border-radius: 50px;
    width: 500px;
    background-color: rgb(255, 255, 255);
    padding: 4vh 2vw;
  }
  #pay-unlogged-container #pay-result-container #pay-result-data-continer #pay-result-icon {
    margin: 0 0 2vh 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 5em;
    color: #0153FF;
  }
  #pay-unlogged-container #pay-result-container #pay-result-data-continer #pay-result-title {
    margin: 0;
    padding: 0;
    display: block;
    color: #707070;
    text-align: center;
    font-weight: 600;
    font-size: 2.5em;
  }
  #pay-unlogged-container #pay-result-container #pay-result-data-continer #pay-result-description {
    margin: 2vh 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
    color: #707070;
  }
  #pay-unlogged-container #pay-result-container #pay-result-data-continer #pay-result-btn {
    margin: 0 auto;
    display: block;
    background-color: #0153FF;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2em;
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  #pay-unlogged-container {
    height: 95vh;
    margin: 0;
    padding: 0;
    background: rgb(36, 37, 116);
    background: linear-gradient(90deg, rgb(36, 37, 116) 0%, rgb(22, 46, 164) 74%, rgb(9, 50, 187) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #pay-unlogged-container .avatar-img {
    display: none;
  }
  #pay-unlogged-container #pay-result-container {
    width: 100vw;
    transform: translateY(-20%);
    display: none;
  }
  #pay-unlogged-container #pay-result-container #pay-result-data-continer {
    /* UI Properties */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border-radius: 50px;
    width: 100vw;
    background-color: rgb(255, 255, 255);
    padding: 4vh 2vw;
  }
  #pay-unlogged-container #pay-result-container #pay-result-data-continer #pay-result-icon {
    margin: 0 0 2vh 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 5em;
    color: #0153FF;
  }
  #pay-unlogged-container #pay-result-container #pay-result-data-continer #pay-result-title {
    margin: 0;
    padding: 0;
    display: block;
    color: #707070;
    text-align: center;
    font-weight: 600;
    font-size: 2.5em;
  }
  #pay-unlogged-container #pay-result-container #pay-result-data-continer #pay-result-description {
    margin: 2vh 0;
    padding: 0;
    display: block;
    text-align: center;
    font-size: 1.4em;
    font-weight: 500;
    color: #707070;
  }
  #pay-unlogged-container #pay-result-container #pay-result-data-continer #pay-result-btn {
    margin: 0 auto;
    display: block;
    background-color: #0153FF;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2em;
    width: 50%;
  }
}
