.text-white {
  color: #ffffff;
}

.bg-success {
  background-color: #1bcc5a;
}

.bg-secondary {
  background-color: #220245;
}

.bg-primary {
  background-color: #00057B;
}

.text-gray-primary {
  color: #FFFFFF;
}

.text-success {
  color: #1bcc5a;
}

.text-gray-secondary {
  color: #F2F2F2;
}

@media screen and (min-width: 768px) {
  #reset-password-container {
    height: 87vh;
    margin: 0;
    padding: 0;
  }
  #reset-password-container #reset-password-centered {
    width: 90vw;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container {
    /* UI Properties */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border-radius: 22px;
    width: 500px;
    background-color: rgb(250, 250, 250);
    padding: 5vh 2vw;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #avatar-img {
    margin: auto;
    display: block;
    width: 200px;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #reset-password-icon {
    margin: 0 0 10vh 0;
    padding: 0;
    display: block;
    color: #00057B;
    text-align: center;
    font-size: 4em;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #reset-password-title {
    margin: 30px 0 5px 0;
    padding: 0;
    display: block;
    color: #707070;
    text-align: center;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #reset-password-message {
    margin: 0;
    padding: 0;
    display: block;
    color: #707070;
    text-align: center;
    font-weight: 500;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container .form-control {
    text-align: center;
    margin: 20px 0;
    font-size: 1.3em;
    color: #707070;
    background-color: transparent;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #reset-password-btn {
    border-radius: 8px !important;
    display: block;
    margin: 10vh auto 0 auto;
    font-size: 1.3em;
    width: 300px;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #forgot-password {
    margin: 40px 0 0 0;
    padding: 0;
    display: block;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #register-container {
    margin: 10px 0 0 0;
    padding: 0;
    cursor: pointer;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #register-container p {
    margin: 0 10px;
    padding: 0;
    font-size: 1.1em;
    font-weight: 500;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #register-container #register-message {
    color: #ffffff;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #register-container #register-link {
    text-decoration: underline;
  }
}
@media screen and (max-width: 768px) {
  #reset-password-container {
    height: 95vh;
    margin: 0;
    padding: 0;
  }
  #reset-password-container #reset-password-centered {
    width: 100vw;
    transform: translateY(-10vh);
  }
  #reset-password-container #reset-password-centered #reset-password-data-container {
    /* UI Properties */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    border-radius: 22px;
    width: 95%;
    background-color: rgb(250, 250, 250);
    padding: 5vh 2vw;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #avatar-img {
    margin: auto;
    display: block;
    width: 200px;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #reset-password-icon {
    margin: 0 0 10vh 0;
    padding: 0;
    display: block;
    color: #00057B;
    text-align: center;
    font-size: 4em;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #reset-password-title {
    margin: 30px 0 5px 0;
    padding: 0;
    display: block;
    color: #707070;
    text-align: center;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #reset-password-message {
    margin: 0;
    padding: 0;
    display: block;
    color: #707070;
    text-align: center;
    font-weight: 500;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container .form-control {
    text-align: center;
    margin: 20px 0;
    font-size: 1.3em;
    color: #707070;
    background-color: transparent;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #reset-password-btn {
    border-radius: 8px !important;
    display: block;
    margin: 10vh auto 0 auto;
    font-size: 1.3em;
    width: 300px;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #forgot-password {
    margin: 40px 0 0 0;
    padding: 0;
    display: block;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #register-container {
    margin: 10px 0 0 0;
    padding: 0;
    cursor: pointer;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #register-container p {
    margin: 0 10px;
    padding: 0;
    font-size: 1.1em;
    font-weight: 500;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #register-container #register-message {
    color: #ffffff;
  }
  #reset-password-container #reset-password-centered #reset-password-data-container #register-container #register-link {
    text-decoration: underline;
  }
}
