.text-white {
  color: #ffffff;
}

.bg-success {
  background-color: #1bcc5a;
}

.bg-secondary {
  background-color: #0153FF;
}

.bg-primary {
  background-color: #00057B;
}

.text-gray-primary {
  color: #FFFFFF;
}

.text-success {
  color: #1bcc5a;
}

.text-gray-secondary {
  color: #F2F2F2;
}

#erp-app-content {
  background-color: #F7F7F7;
}

#export-report-excel-container {
  margin: 0;
  padding: 0;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10BE16;
  border-radius: 50px;
  color: #fff;
  gap: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#export-report-excel-container #export-report-excel-icon {
  font-size: 17px;
}
#export-report-excel-container #export-report-excel-icon:hover {
  color: #fff !important;
}
#export-report-excel-container #export-report-excel-text {
  display: none;
  transition: 0.3s;
}
#export-report-excel-container:hover {
  padding: 5px 20px;
  width: -moz-fit-content;
  width: fit-content;
}
#export-report-excel-container:hover #export-report-excel-text {
  display: block;
}

#report-containers-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: top;
  width: 100%;
  list-style: none;
}
#report-containers-list .report-item {
  margin: 0;
  padding: 10px 15px;
  flex: 1 1 30%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}
#report-containers-list .report-item:hover {
  box-shadow: 0px 3px 6px #666;
}
#report-containers-list .report-item .report-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}
#report-containers-list .report-item .report-item-header .header-left {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  align-items: center;
}
#report-containers-list .report-item .report-item-header .header-left .report-item-title {
  color: #707070;
  font-weight: 600;
  font-size: 1rem;
}
#report-containers-list .report-item .report-item-header .header-left .tooltip-icon {
  font-size: 12px;
}
#report-containers-list .report-item .report-item-header .report-item-date-input {
  border: 1px solid #ccc;
  border-radius: 13px;
  padding: 2px 10px;
  cursor: pointer;
}
#report-containers-list .report-item .report-item-canvas {
  margin: auto 0;
  padding: 0;
  display: block;
  width: 100% !important;
  height: 35vh !important;
}

#zoom-in-super-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
#zoom-in-super-container #zoom-in-container {
  margin: 0;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: start;
  width: 70%;
  background-color: #fff;
  transform: translateX(9vw);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  border-radius: 15px;
}
#zoom-in-super-container #zoom-in-container #zoom-in-header-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#zoom-in-super-container #zoom-in-container #zoom-in-header-container .left-container {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
#zoom-in-super-container #zoom-in-container #zoom-in-header-container .left-container #zoom-in-title {
  margin: 0;
  padding: 0;
  color: #00057B;
  font-size: 1.2rem;
}
#zoom-in-super-container #zoom-in-container #zoom-in-header-container .left-container .tooltip-icon {
  font-size: 10px;
}
#zoom-in-super-container #zoom-in-container #zoom-in-header-container .left-container .zoom-in-report-item-date-input {
  border: 1px solid #ccc;
  border-radius: 13px;
  padding: 2px 10px;
  cursor: pointer;
}
#zoom-in-super-container #zoom-in-container #zoom-in-header-container .left-container #zoom-in-export-report-excel-container {
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10BE16;
  border-radius: 50px;
  color: #fff;
  gap: 5px;
  cursor: pointer;
  transition: 0.3s;
}
#zoom-in-super-container #zoom-in-container #zoom-in-header-container .left-container #zoom-in-export-report-excel-container #zoom-in-export-report-excel-icon {
  font-size: 13px;
}
#zoom-in-super-container #zoom-in-container #zoom-in-header-container .left-container #zoom-in-export-report-excel-container #zoom-in-export-report-excel-icon:hover {
  color: #fff !important;
}
#zoom-in-super-container #zoom-in-container #zoom-in-header-container .left-container #zoom-in-export-report-excel-container #zoom-in-export-report-excel-text {
  display: none;
  transition: 0.3s;
}
#zoom-in-super-container #zoom-in-container #zoom-in-header-container .left-container #zoom-in-export-report-excel-container:hover {
  transform: scale(1.1);
}
#zoom-in-super-container #zoom-in-container #zoom-in-header-container #zoom-in-close-icon {
  margin: 0;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
#zoom-in-super-container #zoom-in-container #zoom-in-header-container #zoom-in-close-icon:hover {
  color: #00057B;
}
#zoom-in-super-container #zoom-in-container #zoom-in-data-container {
  margin: 0;
  padding: 0 10PX;
  display: block;
  width: 100%;
  overflow-x: none;
  overflow-y: auto;
  height: 65vh;
}
#zoom-in-super-container #zoom-in-container #zoom-in-data-container #graphic-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 20px;
}
#zoom-in-super-container #zoom-in-container #zoom-in-data-container #graphic-container #zoom-in-report-graph {
  margin: 0;
  padding: 0;
  width: 70% !important;
  height: 30vw !important;
}
#zoom-in-super-container #zoom-in-container #zoom-in-data-container #graphic-container #zoom-in-graph-info-container {
  margin: 0;
  padding: 10px 20px;
  flex: 1;
  background-color: #F2F2F2;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: start;
  align-items: start;
}
#zoom-in-super-container #zoom-in-container #zoom-in-data-container #graphic-container #zoom-in-graph-info-container .zoom-in-label {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
  width: 100%;
}
#zoom-in-super-container #zoom-in-container #zoom-in-data-container #graphic-container #zoom-in-graph-info-container .zoom-in-label span {
  margin: 0;
  padding: 0;
  font-size: 12px;
}
#zoom-in-super-container #zoom-in-container #zoom-in-data-container #graphic-container #zoom-in-graph-info-container .zoom-in-label .label-text {
  width: 40%;
  min-width: 60px;
}
#zoom-in-super-container #zoom-in-container #zoom-in-data-container #graphic-container #zoom-in-graph-info-container .zoom-in-label .label-value {
  font-weight: bold;
}
#zoom-in-super-container #zoom-in-container #zoom-in-data-container #zoom-in-table {
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
}
#zoom-in-super-container #zoom-in-container #zoom-in-data-container #zoom-in-table thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
}
#zoom-in-super-container #zoom-in-container #zoom-in-data-container #zoom-in-table thead th {
  font-size: 12px;
}
#zoom-in-super-container #zoom-in-container #zoom-in-data-container #zoom-in-table tbody tr td {
  font-size: 12px;
  text-wrap: nowrap;
}
#zoom-in-super-container #zoom-in-container #zoom-in-data-container #zoom-in-table .name-col,
#zoom-in-super-container #zoom-in-container #zoom-in-data-container #zoom-in-table .client-name {
  /*set col max-width*/
  max-width: 10vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#zoom-in-super-container #zoom-in-container #zoom-in-data-container #zoom-in-table .bill-name {
  /*set col max-width*/
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#zoom-in-super-container #zoom-in-container #zoom-in-data-container #zoom-in-table .identification-type {
  /*set col max-width*/
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
