.text-white {
  color: #ffffff;
}

.bg-success {
  background-color: #1bcc5a;
}

.bg-secondary {
  background-color: #220245;
}

.bg-primary {
  background-color: #00057B;
}

.text-gray-primary {
  color: #FFFFFF;
}

.text-success {
  color: #1bcc5a;
}

.text-gray-secondary {
  color: #F2F2F2;
}

@media screen and (min-width: 768px) {
  #nav-list #department-list-container {
    max-height: 75vh;
    margin: 0 0 2vh 0;
  }
  #nav-list #department-list-container #search-list-container {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    padding: 2vh 0;
    width: 90%;
    display: block;
    margin: 1vh auto;
  }
  #nav-list #department-list-container #search-list-container #search-list-title {
    margin: 0 15px 0 0;
    padding: 0;
    color: #00057B;
    font-weight: bold;
  }
  #nav-list #department-list-container #search-list-container #search-list-input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #707070;
    padding: 0;
    width: 25vw;
  }
  #nav-list #department-list-container #department-list-table {
    margin: 0;
    padding: 0;
  }
  #nav-list #department-list-container #department-list-table #department-list-table-header {
    position: sticky;
    top: 0;
  }
  #nav-list #department-list-container #department-list-table #department-list-table-body .image-column-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #nav-list #department-list-container #department-list-table .email-col {
    width: 10vw;
  }
  #nav-list #department-list-container #department-list-table .email-col p {
    width: 10vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #nav-list #department-list-container #department-list-table .active-col .active-state {
    border-radius: 13px;
  }
  #nav-list #department-list-container #department-list-table .active-col .active-state.active-state-0 {
    background-color: #FFF;
    color: #272727;
    box-shadow: inset 2px 4px 20px 0px rgba(0, 0, 0, 0.17);
  }
  #nav-list #department-list-container #department-list-table .active-col .active-state.active-state-1 {
    background-color: #10BE16;
    color: #FFF;
    box-shadow: inset 2px 4px 20px 0px rgba(0, 0, 0, 0.17);
  }
  #nav-list #department-list-container #department-list-table .columns-actions {
    white-space: nowrap;
  }
  #nav-list #department-list-container #department-list-table .columns-actions i {
    display: inline-block;
    vertical-align: middle;
  }
  #nav-create #create-inputs-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #nav-create #create-inputs-container #create-department-description {
    border: 1px solid #707070;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
  }
  #nav-create #create-inputs-container .input-container {
    margin: 5px 0;
    padding: 0;
  }
  #nav-create #create-inputs-container .input-container .input-title {
    width: 30%;
    font-size: 1.1em;
  }
  #nav-create #create-inputs-container .input-container .input-value {
    width: 70%;
    margin: 0;
  }
  #nav-create #create-inputs-container .multimedia-input-container {
    position: relative;
    cursor: pointer;
    margin: 0 5%;
  }
  #nav-create #create-inputs-container .multimedia-input-container:hover .image-icon,
  #nav-create #create-inputs-container .multimedia-input-container:hover .image-plus-icon {
    transform: scale(1.05);
  }
  #nav-create #create-inputs-container .multimedia-input-container #create-department-img-container,
  #nav-create #create-inputs-container .multimedia-input-container #create-department-color-container {
    border: 4px solid #707070;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    margin: 0 auto;
    transition: 0.3s;
  }
  #nav-create #create-inputs-container .multimedia-input-container #create-department-img-container .image-icon, #nav-create #create-inputs-container .multimedia-input-container #create-department-img-container .color-icon,
  #nav-create #create-inputs-container .multimedia-input-container #create-department-color-container .image-icon,
  #nav-create #create-inputs-container .multimedia-input-container #create-department-color-container .color-icon {
    font-size: 4vw;
    color: #707070;
    transition: 0.3s;
  }
  #nav-create #create-inputs-container .multimedia-input-container .image-plus-icon {
    position: absolute;
    bottom: 0.5vw;
    right: 0.5vw;
    z-index: 10;
    background-color: #220245;
    padding: 5px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    transition: 0.3s;
  }
  #nav-create #create-inputs-container #balance-button {
    width: 170px;
    margin: 0 auto;
    padding: 10px 10px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
  }
  #nav-create #create-inputs-container #balance-button:hover {
    background-color: #220245;
  }
  #nav-create #create-inputs-container #balance-button:hover i {
    color: #ffffff;
  }
  #nav-create #create-inputs-container #balance-button:hover p {
    color: #ffffff;
  }
  #nav-create #create-inputs-container #balance-button i {
    font-size: 20px;
    transition: 0.3s;
    color: #707070;
    margin-right: 10px;
  }
  #nav-create #create-inputs-container #balance-button p {
    margin: 0;
    padding: 0;
    width: -moz-min-content;
    width: min-content;
    font-size: 0.9em;
    font-weight: bold;
    color: #707070;
    transition: 0.3s;
  }
  #nav-create #create-inputs-container #department-sub-opt-container {
    margin-top: 20px;
    width: 170px;
    margin: 10px auto 0 auto;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-go-traceability {
    padding: 5px 35px;
    margin: 0;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-go-traceability:hover {
    background-color: #220245;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-go-traceability:hover i {
    color: #ffffff;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-go-traceability i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #220245;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-delete {
    padding: 7px 15px;
    margin: 0;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-delete i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #707070;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-restore {
    padding: 5px 10px;
    margin: 0 1%;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-restore:hover {
    background-color: #F6AA1C;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-restore:hover i {
    color: #ffffff;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-restore i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #707070;
  }
  #nav-create #add-department-button {
    margin: 2vh auto 0 auto;
    width: 200px;
    display: block;
  }
  #nav-update #header-container {
    margin: 2vh 0 3vh 0;
    padding: 0;
    width: 100%;
  }
  #nav-update #header-container #update-department-verification i {
    transition: 0.3s;
    margin: 0 5px;
    font-size: 18px;
  }
  #nav-update #header-container #update-department-verification i.disabled {
    color: #707070;
  }
  #nav-update #header-container #update-department-verification i.enabled {
    color: #220245;
    transform: scale(1.3);
  }
  #nav-update #header-container #update-department-verification i:hover {
    transform: scale(1.1);
  }
  #nav-update #update-inputs-container {
    margin: 0;
    padding: 0 0 3vh 0;
    width: 100%;
  }
  #nav-update #update-inputs-container #update-department-description {
    border: 1px solid #707070;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
  }
  #nav-update #update-inputs-container .input-container {
    margin: 5px 0;
    padding: 0;
  }
  #nav-update #update-inputs-container .input-container .input-title {
    width: 30%;
    font-size: 1.1em;
  }
  #nav-update #update-inputs-container .input-container .input-value {
    width: 70%;
    margin: 0;
  }
  #nav-update #update-inputs-container .multimedia-input-container {
    position: relative;
    cursor: pointer;
    margin: 0 5%;
  }
  #nav-update #update-inputs-container .multimedia-input-container:hover .image-icon,
  #nav-update #update-inputs-container .multimedia-input-container:hover .image-plus-icon {
    transform: scale(1.05);
  }
  #nav-update #update-inputs-container .multimedia-input-container #update-department-img-container,
  #nav-update #update-inputs-container .multimedia-input-container #update-department-color-container {
    border: 4px solid #707070;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    margin: 0 auto;
    transition: 0.3s;
  }
  #nav-update #update-inputs-container .multimedia-input-container #update-department-img-container .image-icon, #nav-update #update-inputs-container .multimedia-input-container #update-department-img-container .color-icon,
  #nav-update #update-inputs-container .multimedia-input-container #update-department-color-container .image-icon,
  #nav-update #update-inputs-container .multimedia-input-container #update-department-color-container .color-icon {
    font-size: 4vw;
    color: #707070;
    transition: 0.3s;
  }
  #nav-update #update-inputs-container .multimedia-input-container .image-plus-icon {
    position: absolute;
    bottom: 0.5vw;
    right: 0.5vw;
    z-index: 10;
    background-color: #220245;
    padding: 5px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    transition: 0.3s;
  }
  #nav-update #update-inputs-container #balance-button {
    width: 170px;
    margin: 0 auto;
    padding: 10px 10px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
  }
  #nav-update #update-inputs-container #balance-button:hover {
    background-color: #220245;
  }
  #nav-update #update-inputs-container #balance-button:hover i {
    color: #ffffff;
  }
  #nav-update #update-inputs-container #balance-button:hover p {
    color: #ffffff;
  }
  #nav-update #update-inputs-container #balance-button i {
    font-size: 20px;
    transition: 0.3s;
    color: #707070;
    margin-right: 10px;
  }
  #nav-update #update-inputs-container #balance-button p {
    margin: 0;
    padding: 0;
    width: -moz-min-content;
    width: min-content;
    font-size: 0.9em;
    font-weight: bold;
    color: #707070;
    transition: 0.3s;
  }
  #nav-update #update-inputs-container #department-sub-opt-container {
    margin-top: 20px;
    width: 170px;
    margin: 10px auto 0 auto;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-go-traceability {
    padding: 5px 35px;
    margin: 0;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-go-traceability:hover {
    background-color: #220245;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-go-traceability:hover i {
    color: #ffffff;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-go-traceability i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #220245;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-delete {
    padding: 7px 15px;
    margin: 0;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-delete i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #707070;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-restore {
    padding: 5px 10px;
    margin: 0 1%;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-restore:hover {
    background-color: #F6AA1C;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-restore:hover i {
    color: #ffffff;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-restore i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #707070;
  }
  #nav-update #update-department-button {
    margin: 2vh 2vw 0 auto;
    width: 200px;
    display: block;
  }
  #nav-update #create-department-inputs-container {
    margin: 1vh 0;
    padding: 2vh 1vw;
    width: 100%;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 20px;
  }
  #nav-update #create-department-inputs-container .input-container {
    margin: 5px 0;
    padding: 0;
  }
  #nav-update #create-department-inputs-container .input-container .input-title {
    width: 30%;
    font-size: 1.1em;
  }
  #nav-update #create-department-inputs-container .input-container .input-value {
    width: 70%;
    margin: 0;
    background-color: transparent;
  }
  #nav-update #create-department-inputs-container .multimedia-input-container {
    position: relative;
    cursor: pointer;
    margin: 0 5%;
  }
  #nav-update #create-department-inputs-container .multimedia-input-container:hover .image-icon,
  #nav-update #create-department-inputs-container .multimedia-input-container:hover .image-plus-icon {
    transform: scale(1.05);
  }
  #nav-update #create-department-inputs-container .multimedia-input-container #create-department-department-img-container,
  #nav-update #create-department-inputs-container .multimedia-input-container #create-department-department-color-container {
    border: 4px solid #707070;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    transition: 0.3s;
  }
  #nav-update #create-department-inputs-container .multimedia-input-container #create-department-department-img-container .image-icon, #nav-update #create-department-inputs-container .multimedia-input-container #create-department-department-img-container .color-icon,
  #nav-update #create-department-inputs-container .multimedia-input-container #create-department-department-color-container .image-icon,
  #nav-update #create-department-inputs-container .multimedia-input-container #create-department-department-color-container .color-icon {
    font-size: 25px;
    color: #707070;
    transition: 0.3s;
  }
  #nav-update #create-department-inputs-container #add-department-department-button {
    width: 120px;
  }
  #nav-update #sub-nav-documents #department-documents-add-container {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 20px;
    padding: 3vh 5%;
  }
  #nav-update #sub-nav-documents #department-documents-add-container .department-document-input-title {
    margin: 0;
    padding: 0;
    display: block;
    height: -moz-min-content;
    height: min-content;
    color: #707070;
    font-weight: 600;
  }
  #nav-update #sub-nav-documents #department-documents-add-container .department-document-input-name {
    background-color: transparent;
  }
  #nav-update #sub-nav-documents #department-documents-add-container .department-document-input-file {
    border: 1px solid #707070;
    border-radius: 20px;
  }
  #nav-update #sub-nav-documents #department-documents-table #department-documents-table-body .department-document-input-name {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    border: none;
    color: #707070;
    font-weight: 500;
    font-size: 1.1em;
  }
  #nav-update #sub-nav-documents #department-documents-table #department-documents-table-body .department-document-input-link {
    color: #220245;
    font-weight: 600;
    font-size: 1.1em;
  }
  #nav-update #sub-nav-hiring #update-department-hiring-button {
    margin: 2vh 2% 0 auto;
    width: -moz-min-content;
    width: min-content;
    display: block;
    background-color: #00057B;
  }
}
@media screen and (max-width: 768px) {
  p, a {
    font-size: 14px !important;
  }
  #nav-list #department-list-container {
    max-height: 75vh;
    margin: 0 0 2vh 0;
  }
  #nav-list #department-list-container #search-list-container {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    padding: 2vh 0;
    width: 90%;
    display: block;
    margin: 1vh auto;
  }
  #nav-list #department-list-container #search-list-container #search-list-title {
    display: none;
  }
  #nav-list #department-list-container #search-list-container #search-list-input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #707070;
    padding: 0;
    width: 90%;
    text-align: center;
  }
  #nav-list #department-list-container #department-list-table {
    margin: 0;
    padding: 0;
  }
  #nav-list #department-list-container #department-list-table .fa-bars-progress {
    display: none;
  }
  #nav-list #department-list-container #department-list-table .columns-id,
  #nav-list #department-list-container #department-list-table .columns-employees-number,
  #nav-list #department-list-container #department-list-table .columns-budget {
    display: none;
  }
  #nav-list #department-list-container #department-list-table .columns-actions,
  #nav-list #department-list-container #department-list-table .columns-director,
  #nav-list #department-list-container #department-list-table .columns-name {
    width: 33%;
  }
  #nav-list #department-list-container #department-list-table #department-list-table-header {
    position: sticky;
    top: 0;
  }
  #nav-list #department-list-container #department-list-table #department-list-table-body .image-column-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #nav-list #department-list-container #department-list-table .email-col {
    width: 10vw;
  }
  #nav-list #department-list-container #department-list-table .email-col p {
    width: 10vw;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #nav-list #department-list-container #department-list-table .active-col .active-state {
    border-radius: 13px;
  }
  #nav-list #department-list-container #department-list-table .active-col .active-state.active-state-0 {
    background-color: #FFF;
    color: #272727;
    box-shadow: inset 2px 4px 20px 0px rgba(0, 0, 0, 0.17);
  }
  #nav-list #department-list-container #department-list-table .active-col .active-state.active-state-1 {
    background-color: #10BE16;
    color: #FFF;
    box-shadow: inset 2px 4px 20px 0px rgba(0, 0, 0, 0.17);
  }
  #nav-create #create-inputs-container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #nav-create #create-inputs-container #create-department-description {
    border: 1px solid #707070;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
  }
  #nav-create #create-inputs-container .input-container {
    margin: 5px 0;
    padding: 0;
  }
  #nav-create #create-inputs-container .input-container .input-title {
    width: 30%;
    font-size: 1.1em;
  }
  #nav-create #create-inputs-container .input-container .input-value {
    width: 70%;
    margin: 0;
  }
  #nav-create #create-inputs-container .multimedia-input-container {
    position: relative;
    cursor: pointer;
    margin: 0 5%;
  }
  #nav-create #create-inputs-container .multimedia-input-container:hover .image-icon,
  #nav-create #create-inputs-container .multimedia-input-container:hover .image-plus-icon {
    transform: scale(1.05);
  }
  #nav-create #create-inputs-container .multimedia-input-container #create-department-img-container,
  #nav-create #create-inputs-container .multimedia-input-container #create-department-color-container {
    border: 4px solid #707070;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    margin: 0 auto;
    transition: 0.3s;
  }
  #nav-create #create-inputs-container .multimedia-input-container #create-department-img-container .image-icon, #nav-create #create-inputs-container .multimedia-input-container #create-department-img-container .color-icon,
  #nav-create #create-inputs-container .multimedia-input-container #create-department-color-container .image-icon,
  #nav-create #create-inputs-container .multimedia-input-container #create-department-color-container .color-icon {
    font-size: 4vw;
    color: #707070;
    transition: 0.3s;
  }
  #nav-create #create-inputs-container .multimedia-input-container .image-plus-icon {
    position: absolute;
    bottom: 0.5vw;
    right: 0.5vw;
    z-index: 10;
    background-color: #220245;
    padding: 5px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    transition: 0.3s;
  }
  #nav-create #create-inputs-container #balance-button {
    width: 170px;
    margin: 0 auto;
    padding: 10px 10px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
  }
  #nav-create #create-inputs-container #balance-button:hover {
    background-color: #220245;
  }
  #nav-create #create-inputs-container #balance-button:hover i {
    color: #ffffff;
  }
  #nav-create #create-inputs-container #balance-button:hover p {
    color: #ffffff;
  }
  #nav-create #create-inputs-container #balance-button i {
    font-size: 20px;
    transition: 0.3s;
    color: #707070;
    margin-right: 10px;
  }
  #nav-create #create-inputs-container #balance-button p {
    margin: 0;
    padding: 0;
    width: -moz-min-content;
    width: min-content;
    font-size: 0.9em;
    font-weight: bold;
    color: #707070;
    transition: 0.3s;
  }
  #nav-create #create-inputs-container #department-sub-opt-container {
    margin-top: 20px;
    width: 170px;
    margin: 10px auto 0 auto;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-go-traceability {
    padding: 5px 35px;
    margin: 0;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-go-traceability:hover {
    background-color: #220245;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-go-traceability:hover i {
    color: #ffffff;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-go-traceability i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #220245;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-delete {
    padding: 7px 15px;
    margin: 0;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-delete i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #707070;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-restore {
    padding: 5px 10px;
    margin: 0 1%;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-restore:hover {
    background-color: #F6AA1C;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-restore:hover i {
    color: #ffffff;
  }
  #nav-create #create-inputs-container #department-sub-opt-container #update-department-restore i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #707070;
  }
  #nav-create #add-department-button {
    margin: 2vh auto 0 auto;
    width: 200px;
    display: block;
  }
  #nav-update #header-container {
    margin: 2vh 0 3vh 0;
    padding: 0;
    width: 100%;
  }
  #nav-update #header-container #update-department-verification i {
    transition: 0.3s;
    margin: 0 5px;
    font-size: 18px;
  }
  #nav-update #header-container #update-department-verification i.disabled {
    color: #707070;
  }
  #nav-update #header-container #update-department-verification i.enabled {
    color: #220245;
    transform: scale(1.3);
  }
  #nav-update #header-container #update-department-verification i:hover {
    transform: scale(1.1);
  }
  #nav-update #update-inputs-container {
    margin: 0;
    padding: 0 0 3vh 0;
    width: 100%;
  }
  #nav-update #update-inputs-container #update-department-description {
    border: 1px solid #707070;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
  }
  #nav-update #update-inputs-container .input-container {
    margin: 5px 0;
    padding: 0;
  }
  #nav-update #update-inputs-container .input-container .input-title {
    width: 30%;
    font-size: 1.1em;
  }
  #nav-update #update-inputs-container .input-container .input-value {
    width: 70%;
    margin: 0;
  }
  #nav-update #update-inputs-container .multimedia-input-container {
    position: relative;
    cursor: pointer;
    margin: 0 5%;
  }
  #nav-update #update-inputs-container .multimedia-input-container:hover .image-icon,
  #nav-update #update-inputs-container .multimedia-input-container:hover .image-plus-icon {
    transform: scale(1.05);
  }
  #nav-update #update-inputs-container .multimedia-input-container #update-department-img-container,
  #nav-update #update-inputs-container .multimedia-input-container #update-department-color-container {
    border: 4px solid #707070;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    margin: 0 auto;
    transition: 0.3s;
  }
  #nav-update #update-inputs-container .multimedia-input-container #update-department-img-container .image-icon, #nav-update #update-inputs-container .multimedia-input-container #update-department-img-container .color-icon,
  #nav-update #update-inputs-container .multimedia-input-container #update-department-color-container .image-icon,
  #nav-update #update-inputs-container .multimedia-input-container #update-department-color-container .color-icon {
    font-size: 4vw;
    color: #707070;
    transition: 0.3s;
  }
  #nav-update #update-inputs-container .multimedia-input-container .image-plus-icon {
    position: absolute;
    bottom: 0.5vw;
    right: 0.5vw;
    z-index: 10;
    background-color: #220245;
    padding: 5px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 20px;
    transition: 0.3s;
  }
  #nav-update #update-inputs-container #balance-button {
    width: 170px;
    margin: 0 auto;
    padding: 10px 10px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    text-align: center;
    border-radius: 40px;
    cursor: pointer;
    transition: 0.3s;
  }
  #nav-update #update-inputs-container #balance-button:hover {
    background-color: #220245;
  }
  #nav-update #update-inputs-container #balance-button:hover i {
    color: #ffffff;
  }
  #nav-update #update-inputs-container #balance-button:hover p {
    color: #ffffff;
  }
  #nav-update #update-inputs-container #balance-button i {
    font-size: 20px;
    transition: 0.3s;
    color: #707070;
    margin-right: 10px;
  }
  #nav-update #update-inputs-container #balance-button p {
    margin: 0;
    padding: 0;
    width: -moz-min-content;
    width: min-content;
    font-size: 0.9em;
    font-weight: bold;
    color: #707070;
    transition: 0.3s;
  }
  #nav-update #update-inputs-container #department-sub-opt-container {
    margin-top: 20px;
    width: 170px;
    margin: 10px auto 0 auto;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-go-traceability {
    padding: 5px 35px;
    margin: 0;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-go-traceability:hover {
    background-color: #220245;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-go-traceability:hover i {
    color: #ffffff;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-go-traceability i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #220245;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-delete {
    padding: 7px 15px;
    margin: 0;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-delete i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #707070;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-restore {
    padding: 5px 10px;
    margin: 0 1%;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    cursor: pointer;
    transition: 0.3s;
    border-radius: 40px;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-restore:hover {
    background-color: #F6AA1C;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-restore:hover i {
    color: #ffffff;
  }
  #nav-update #update-inputs-container #department-sub-opt-container #update-department-restore i {
    font-size: 1.5em;
    transition: 0.3s;
    color: #707070;
  }
  #nav-update #update-department-button {
    margin: 2vh 2vw 0 auto;
    width: 200px;
    display: block;
  }
  #nav-update #create-department-inputs-container {
    margin: 1vh 0;
    padding: 2vh 1vw;
    width: 100%;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 20px;
  }
  #nav-update #create-department-inputs-container .input-container {
    margin: 5px 0;
    padding: 0;
  }
  #nav-update #create-department-inputs-container .input-container .input-title {
    width: 30%;
    font-size: 1.1em;
  }
  #nav-update #create-department-inputs-container .input-container .input-value {
    width: 70%;
    margin: 0;
    background-color: transparent;
  }
  #nav-update #create-department-inputs-container .multimedia-input-container {
    position: relative;
    cursor: pointer;
    margin: 0 5%;
  }
  #nav-update #create-department-inputs-container .multimedia-input-container:hover .image-icon,
  #nav-update #create-department-inputs-container .multimedia-input-container:hover .image-plus-icon {
    transform: scale(1.05);
  }
  #nav-update #create-department-inputs-container .multimedia-input-container #create-department-department-img-container,
  #nav-update #create-department-inputs-container .multimedia-input-container #create-department-department-color-container {
    border: 4px solid #707070;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    transition: 0.3s;
  }
  #nav-update #create-department-inputs-container .multimedia-input-container #create-department-department-img-container .image-icon, #nav-update #create-department-inputs-container .multimedia-input-container #create-department-department-img-container .color-icon,
  #nav-update #create-department-inputs-container .multimedia-input-container #create-department-department-color-container .image-icon,
  #nav-update #create-department-inputs-container .multimedia-input-container #create-department-department-color-container .color-icon {
    font-size: 25px;
    color: #707070;
    transition: 0.3s;
  }
  #nav-update #create-department-inputs-container #add-department-department-button {
    width: 120px;
  }
  #nav-update #sub-nav-employee #department-employee-add-container {
    background: #F7F7F7 0% 0% no-repeat padding-box;
    border-radius: 20px;
    padding: 3vh 5%;
  }
  #nav-update #sub-nav-employee #department-employee-add-container .department-document-input-title {
    margin: 0;
    padding: 0;
    display: block;
    height: -moz-min-content;
    height: min-content;
    color: #707070;
    font-weight: 600;
  }
  #nav-update #sub-nav-employee #department-employee-add-container .department-document-input-name {
    background-color: transparent;
  }
  #nav-update #sub-nav-employee #department-employee-add-container .department-document-input-file {
    border: 1px solid #707070;
    border-radius: 20px;
  }
  #nav-update #sub-nav-employee #department-employee-table .columns-employees-position,
  #nav-update #sub-nav-employee #department-employee-table .columns-employees-email,
  #nav-update #sub-nav-employee #department-employee-table .columns-employees-phone,
  #nav-update #sub-nav-employee #department-employee-table .columns-employees-salary {
    display: none;
  }
  #nav-update #sub-nav-employee #department-employee-table #department-employee-table-body .department-document-input-name {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    border: none;
    color: #707070;
    font-weight: 500;
    font-size: 1.1em;
  }
  #nav-update #sub-nav-employee #department-employee-table #department-employee-table-body .department-document-input-link {
    color: #220245;
    font-weight: 600;
    font-size: 1.1em;
  }
  #nav-update #sub-nav-hiring #update-department-hiring-button {
    margin: 2vh 2% 0 auto;
    width: -moz-min-content;
    width: min-content;
    display: block;
    background-color: #00057B;
  }
}
