@media (max-width: 768px) {
    #login-container {
        #login-centered {
            padding: 0;
            gap: 0;

            #opzio-logo-container { display: none; }

            #login-data-container {
                width: 100%;
                min-height: 100vh;
                border: none;
                border-radius: 0;
                padding: 4rem 1.5rem;
            }
        }
    }
}