@import '../../variables';

@media screen and (min-width: 768px) {
    #reset-password-container{
        height: 87vh;
        margin: 0;
        padding: 0;
        #reset-password-centered{
            width: 90vw;
            #reset-password-data-container{
                /* UI Properties */
                box-shadow: 0px 3px 6px #00000029;
                border-radius: 22px;
                width: 500px;
                background-color: rgba(250, 250,250, 1);
                padding: 5vh 2vw;
                #avatar-img{
                    margin: auto;
                    display: block;
                    width: 200px;
                }
                #reset-password-icon{
                    margin: 0 0 10vh 0;
                    padding: 0;
                    display: block;
                    color: $primary;
                    text-align: center;
                    font-size: 4em;
                }
                #reset-password-title{
                    margin: 30px 0 5px 0;
                    padding: 0;
                    display: block;
                    color: $text-gray;
                    text-align: center;
                }
                #reset-password-message{
                    margin: 0;
                    padding: 0;
                    display: block;
                    color: $text-gray;
                    text-align: center;
                    font-weight: 500;
                }
                .form-control{
                    text-align: center;
                    margin: 20px 0;
                    font-size: 1.3em;
                    color: $text-gray;
                    background-color: transparent;
                }
                #reset-password-btn{
                    border-radius: 8px !important;
                    display: block;
                    margin: 10vh auto 0 auto;
                    font-size: 1.3em;
                    width: 300px;
                }
                #forgot-password{
                    margin: 40px 0 0 0;
                    padding: 0;
                    display: block;
                    color: $text-white;
                    text-align: center;
                    font-weight: 500;
                    font-size: 1em;
                    text-decoration: underline;
                    cursor: pointer;
                }
                #register-container{
                    margin: 10px 0 0 0;
                    padding: 0;
                    cursor: pointer;
                    p{
                        margin: 0 10px;
                        padding: 0;
                        font-size: 1.1em;
                        font-weight: 500;
                    }
                    #register-message{
                        color: $text-white;
                    }
                    #register-link{
                        text-decoration: underline;
                    }
                }
            }
        }
        
    }
}
@media screen and (max-width: 768px) {
    #reset-password-container{
        height: 95vh;
        margin: 0;
        padding: 0;
        #reset-password-centered{
            width: 100vw;
            transform: translateY(-10vh);
            #reset-password-data-container{
                 /* UI Properties */
                 box-shadow: 0px 3px 6px #00000029;
                 border-radius: 22px;
                 width: 95%;
                 background-color: rgba(250, 250,250, 1);
                 padding: 5vh 2vw;
                #avatar-img{
                    margin: auto;
                    display: block;
                    width: 200px;
                }
                #reset-password-icon{
                    margin: 0 0 10vh 0;
                    padding: 0;
                    display: block;
                    color: $primary;
                    text-align: center;
                    font-size: 4em;
                }
                #reset-password-title{
                    margin: 30px 0 5px 0;
                    padding: 0;
                    display: block;
                    color: $text-gray;
                    text-align: center;
                }
                #reset-password-message{
                    margin: 0;
                    padding: 0;
                    display: block;
                    color: $text-gray;
                    text-align: center;
                    font-weight: 500;
                }
                .form-control{
                    text-align: center;
                    margin: 20px 0;
                    font-size: 1.3em;
                    color: $text-gray;
                    background-color: transparent;
                }
                #reset-password-btn{
                    border-radius: 8px !important;
                    display: block;
                    margin: 10vh auto 0 auto;
                    font-size: 1.3em;
                    width: 300px;
                }
                #forgot-password{
                    margin: 40px 0 0 0;
                    padding: 0;
                    display: block;
                    color: $text-white;
                    text-align: center;
                    font-weight: 500;
                    font-size: 1em;
                    text-decoration: underline;
                    cursor: pointer;
                }
                #register-container{
                    margin: 10px 0 0 0;
                    padding: 0;
                    cursor: pointer;
                    p{
                        margin: 0 10px;
                        padding: 0;
                        font-size: 1.1em;
                        font-weight: 500;
                    }
                    #register-message{
                        color: $text-white;
                    }
                    #register-link{
                        text-decoration: underline;
                    }
                }
            }
        }
        
    }
}