.text-white {
  color: #ffffff;
}

.bg-success {
  background-color: #1bcc5a;
}

.bg-secondary {
  background-color: #220245;
}

.bg-primary {
  background-color: #00057B;
}

.text-gray-primary {
  color: #FFFFFF;
}

.text-success {
  color: #1bcc5a;
}

.text-gray-secondary {
  color: #F2F2F2;
}

@media screen and (min-width: 768px) {
  #search-list-container {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    padding: 2vh 0;
    width: 90%;
    display: flex;
    justify-content: space-around;
    margin: 1vh auto;
  }
  #search-list-input-contaner {
    margin: 0 5px;
  }
  #search-list-title {
    margin: 0 15px 0 0;
    padding: 0;
    color: #00057B;
    font-weight: bold;
  }
  #search-list-input {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #707070;
    padding: 0;
    width: 25vw;
  }
  #search-date-range .date-input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #707070;
    border-radius: 0;
    padding: 0;
    width: 10vw;
  }
  #search-date-range label {
    color: #999;
    font-weight: bold;
  }
  #search-date-range span {
    color: #999;
  }
  #nav-create #import-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border: 2px solid #10BE16;
    border-radius: 28px;
    position: fixed;
    bottom: 1%;
    right: 1%;
    padding: 3px 20px;
    z-index: 1;
    cursor: pointer;
    transition: 0.3s;
  }
  #nav-create #import-btn-container:hover {
    transform: scale(1.1);
  }
  #nav-create #import-btn-container i {
    font-size: 1.1em;
    align-self: center;
    color: #10BE16;
    padding-right: 5px;
  }
  #nav-create #import-btn-container #import-title {
    font-size: 1.1em;
    align-self: center;
    color: #10BE16;
  }
  #nav-create #import-form-container {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F7F7F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 20px;
    z-index: 1;
    transition: 0.3s;
    width: 700px;
  }
  #nav-create #import-form-container .import-form-icon {
    font-size: 10em;
    color: #10BE16;
  }
  #nav-create #import-form-container #import-form-title {
    font-size: 1.5em;
    color: #10BE16;
    margin: 10px 0 5px 0;
    padding: 0;
    text-align: center;
  }
  #nav-create #import-form-container #import-form-subtitle {
    font-size: 1.2em;
    color: #272727;
    margin: 0 0 5px 0;
    padding: 0;
    text-align: center;
  }
  #nav-create #import-form-container #import-form-description {
    font-size: 1em;
    color: #707070;
    margin: 0 0 5px 0;
    padding: 0;
    text-align: center;
  }
  #nav-create #import-form-container #import-file-input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 20px;
    width: 70%;
  }
  #nav-create #import-form-container #import-btns-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin-top: 20px;
  }
  #nav-create #import-form-container #import-btns-container #import-cancel-btn {
    background: #c4c4c4;
    border-radius: 20px;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  #nav-create #import-form-container #import-btns-container #import-cancel-btn:hover {
    transform: scale(1.1);
  }
  #nav-create #import-form-container #import-btns-container #import-confirm-btn {
    background: #10BE16;
    border-radius: 20px;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  #nav-create #import-form-container #import-btns-container #import-confirm-btn:hover {
    transform: scale(1.1);
  }
}
