.text-white {
  color: #ffffff;
}

.bg-success {
  background-color: #1bcc5a;
}

.bg-secondary {
  background-color: #0153FF;
}

.bg-primary {
  background-color: #00057B;
}

.text-gray-primary {
  color: #FFFFFF;
}

.text-success {
  color: #1bcc5a;
}

.text-gray-secondary {
  color: #F2F2F2;
}

@media screen and (min-width: 768px) {
  .chat-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 85vh;
  }
  .chat-container .chat-conversations-list {
    width: 250px;
    height: 100%;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  }
  .chat-container .chat-conversations-list .chat-conversations-item {
    margin: 0;
    padding: 10px 10px;
    display: block;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #D7D7D7;
    cursor: pointer;
    transition: 0.3s;
  }
  .chat-container .chat-conversations-list .chat-conversations-item:hover, .chat-container .chat-conversations-list .chat-conversations-item.active {
    background-color: rgba(1, 81, 255, 0.15);
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0;
    padding: 0 10px 0 0;
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info p {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info .chat-name {
    font-size: 14px;
    font-weight: 600;
    color: #00057B;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info .chat-last-message {
    font-size: 12px;
    color: #707070;
    text-overflow: ellipsis;
    white-space: normal; /* Change from nowrap to normal */
    overflow: hidden;
    max-width: 100%;
    /* Limit to 3 lines */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.2em; /* Adjust line height to control spacing between lines */
    max-height: 3.6em; /* 3 lines of text (3 * line-height) */
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info .chat-date-for-humans {
    margin-top: 5px;
    font-size: 12px;
    color: #707070;
    font-weight: bold;
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info .chat-date {
    font-size: 12px;
    color: #707070;
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info .form-check {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info .form-check .form-check-input {
    width: 35px !important;
    align-self: center;
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info .form-check .form-check-label {
    margin: 0 0 0 5px;
    padding: 0;
    align-self: center;
    font-size: 12px;
    /*text space cero*/
    letter-spacing: 0;
    transform: translateY(3px);
  }
  .chat-container .chat-messages-container {
    margin: 0;
    padding: 0;
    display: block;
    width: calc(100% - 250px);
    height: 100%;
    background-color: #F8F8F8;
  }
  .chat-container .chat-messages-container .chat-message-sub-container {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
  .chat-container .chat-messages-container .chat-message-sub-container .chat-messages-list {
    margin: 5px 0;
    padding: 10px 0;
    display: block;
    width: 100%;
    height: calc(100% - 100px);
    list-style: none;
  }
  .chat-container .chat-messages-container .chat-message-sub-container .chat-messages-list .chat-messages-item {
    padding: 0 15px;
    margin: 0;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 50%;
  }
  .chat-container .chat-messages-container .chat-message-sub-container .chat-messages-list .chat-messages-item .chat-message-content {
    margin: 0;
    padding: 10px 10px;
    border-radius: 15px;
  }
  .chat-container .chat-messages-container .chat-message-sub-container .chat-messages-list .chat-messages-item .chat-message-date {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #707070;
    text-align: right;
  }
  .chat-container .chat-messages-container .chat-message-sub-container .chat-messages-list .chat-messages-item.client {
    margin: 0 auto 5px 0;
  }
  .chat-container .chat-messages-container .chat-message-sub-container .chat-messages-list .chat-messages-item.client .chat-message-content {
    text-align: justify;
    background-color: #D7D7D7;
  }
  .chat-container .chat-messages-container .chat-message-sub-container .chat-messages-list .chat-messages-item.admin {
    margin: 0 0 5px auto;
  }
  .chat-container .chat-messages-container .chat-message-sub-container .chat-messages-list .chat-messages-item.admin .chat-message-content {
    text-align: justify;
    background-color: #00057B;
    color: #ffffff;
  }
  .chat-container .chat-messages-container .chat-message-sub-container #chat-message-input {
    margin: 0;
    padding: 10px 15px;
    width: 100%;
    height: 90px;
    border: none;
    border-top: 1px solid #D7D7D7;
    resize: none;
    transition: 0.3s;
    background-color: #F2F6FF;
  }
  .chat-container .chat-messages-container .chat-message-sub-container #chat-message-input:focus {
    outline: none;
  }
  .chat-container .chat-messages-container .chat-message-sub-container #chat-message-input::-moz-placeholder {
    color: #707070;
  }
  .chat-container .chat-messages-container .chat-message-sub-container #chat-message-input::placeholder {
    color: #707070;
  }
  .chat-container .chat-messages-container .chat-message-sub-container #chat-message-input:hover {
    background-color: #F2F6FF;
  }
  .chat-container .chat-messages-container .empty-view-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .chat-container .chat-messages-container .empty-view-chat .empty-view-icon {
    font-size: 50px;
    color: #707070;
  }
  .chat-container .chat-messages-container .empty-view-chat .empty-view-title {
    font-size: 18px;
    color: #707070;
    margin: 0;
    padding: 0;
  }
  .chat-container .chat-messages-container .loading-view-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .chat-container .chat-messages-container .loading-view-chat .loading-view-icon {
    font-size: 50px;
    color: #707070;
  }
  .chat-container .chat-messages-container .loading-view-chat .loading-view-title {
    font-size: 18px;
    color: #707070;
    margin: 0;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .chat-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 85vh;
  }
  .chat-container .chat-conversations-list {
    width: 100px;
    height: 100%;
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1607843137);
  }
  .chat-container .chat-conversations-list .chat-conversations-item {
    margin: 0;
    padding: 10px 10px;
    display: block;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px solid #D7D7D7;
    cursor: pointer;
    transition: 0.3s;
  }
  .chat-container .chat-conversations-list .chat-conversations-item:hover, .chat-container .chat-conversations-list .chat-conversations-item.active {
    background-color: rgba(1, 81, 255, 0.15);
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0;
    padding: 0 10px 0 0;
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info p {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info .chat-name {
    font-size: 14px;
    font-weight: 600;
    color: #00057B;
    /*text space cero*/
    letter-spacing: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info .chat-last-message {
    font-size: 12px;
    color: #707070;
    letter-spacing: 0;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info .chat-date-for-humans {
    margin-top: 5px;
    font-size: 12px;
    color: #707070;
    font-weight: bold;
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info .chat-date {
    font-size: 12px;
    color: #707070;
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info .form-check {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info .form-check .form-check-input {
    width: 35px !important;
    align-self: center;
  }
  .chat-container .chat-conversations-list .chat-conversations-item .chat-main-info .form-check .form-check-label {
    display: none;
  }
  .chat-container .chat-messages-container {
    margin: 0;
    padding: 0;
    display: block;
    width: calc(100% - 100px);
    height: 100%;
    background-color: #F8F8F8;
  }
  .chat-container .chat-messages-container .chat-message-sub-container {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 100%;
  }
  .chat-container .chat-messages-container .chat-message-sub-container .chat-messages-list {
    margin: 5px 0;
    padding: 10px 0;
    display: block;
    width: 100%;
    height: calc(100% - 100px);
    list-style: none;
  }
  .chat-container .chat-messages-container .chat-message-sub-container .chat-messages-list .chat-messages-item {
    padding: 0 15px;
    margin: 0;
    display: block;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 95%;
  }
  .chat-container .chat-messages-container .chat-message-sub-container .chat-messages-list .chat-messages-item .chat-message-content {
    margin: 0;
    padding: 10px 10px;
    border-radius: 15px;
  }
  .chat-container .chat-messages-container .chat-message-sub-container .chat-messages-list .chat-messages-item .chat-message-date {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #707070;
    text-align: right;
  }
  .chat-container .chat-messages-container .chat-message-sub-container .chat-messages-list .chat-messages-item.client {
    margin: 0 auto 5px 0;
  }
  .chat-container .chat-messages-container .chat-message-sub-container .chat-messages-list .chat-messages-item.client .chat-message-content {
    text-align: justify;
    background-color: #D7D7D7;
  }
  .chat-container .chat-messages-container .chat-message-sub-container .chat-messages-list .chat-messages-item.admin {
    margin: 0 0 5px auto;
  }
  .chat-container .chat-messages-container .chat-message-sub-container .chat-messages-list .chat-messages-item.admin .chat-message-content {
    text-align: justify;
    background-color: #00057B;
    color: #ffffff;
  }
  .chat-container .chat-messages-container .chat-message-sub-container #chat-message-input {
    margin: 0;
    padding: 10px 15px;
    width: 100%;
    height: 90px;
    border: none;
    border-top: 1px solid #D7D7D7;
    resize: none;
    transition: 0.3s;
    background-color: #F2F6FF;
  }
  .chat-container .chat-messages-container .chat-message-sub-container #chat-message-input:focus {
    outline: none;
  }
  .chat-container .chat-messages-container .chat-message-sub-container #chat-message-input::-moz-placeholder {
    color: #707070;
  }
  .chat-container .chat-messages-container .chat-message-sub-container #chat-message-input::placeholder {
    color: #707070;
  }
  .chat-container .chat-messages-container .chat-message-sub-container #chat-message-input:hover {
    background-color: #F2F6FF;
  }
  .chat-container .chat-messages-container .empty-view-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
  }
  .chat-container .chat-messages-container .empty-view-chat .empty-view-icon {
    font-size: 12px;
    color: #707070;
    text-align: center;
  }
  .chat-container .chat-messages-container .empty-view-chat .empty-view-title {
    font-size: 12px;
    color: #707070;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .chat-container .chat-messages-container .loading-view-chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  .chat-container .chat-messages-container .loading-view-chat .loading-view-icon {
    font-size: 12px;
    color: #707070;
    text-align: center;
  }
  .chat-container .chat-messages-container .loading-view-chat .loading-view-title {
    font-size: 12px;
    color: #707070;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
